<% layout('layout') -%>
<% script() -%>
<% stylesheet() -%>
<link href="/css/video-js.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/jquery.fileupload.css">
<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="/css/jquery-ui.css">
<!-- Generic page styles -->
<link rel="stylesheet" href="/css/style.css">
<div class="row">
    <div class="panel panel-default">
        <div id="bugsManager">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center;"><input id="check_all_file_checkbox" type='checkbox'/></th>
                        <th>User</th>
                        <th>Comment</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0;i < bugs.length;i++){ %>
                    <tr>
                        <td style="text-align:center;"><input id="check_all_file_checkbox" type='checkbox'/></td>
                        <td><%= bugs[i].user.username %></td>
                        <td><%= bugs[i].comment %></td>
                        <td>
                            <span data-id="<%= bugs[i]._id %>" class="badge badge-success <%= (bugs[i].status == 0) ? 'active' : '' %>">&nbsp;</span>
                            <span data-id="<%= bugs[i]._id %>" class="badge badge-warning <%= (bugs[i].status == 1) ? 'active' : '' %>">&nbsp;</span>
                            <span data-id="<%= bugs[i]._id %>" class="badge badge-danger <%= (bugs[i].status == 2) ? 'active' : '' %>">&nbsp;</span>
                        </td>
                        <td><%= fromNow(bugs[i].created) %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>        
    </div>
</div>
<div class="row">
    <div class="col-lg-6 panel panel-default">
        <div id="usersManager">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center;"><input id="check_all_file_checkbox" type='checkbox'/></th>
                        <th>Pseudo</th>
                        <th>Email</th>
                        <th>Derniere connexion</th>
                    </tr>
                </thead>
                <tbody>
                <% for(var i = 0;i < users.length;i++){ %>
                <tr>
                    <td style="text-align:center;"><input id="check_all_file_checkbox" type='checkbox'/></td>
                    <td><%= users[i].username %></td>
                    <td><%= users[i].email %></td>
                    <td><%= fromNow(users[i].lastLogged) %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>        
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect();
    var statusArr = ['success', 'warning', 'error'];
    $(document).ready(function(){
        $('.badge').click(function(){
            var type = $(this).attr('class').split(' ')[1];
            type = type.split('-')[1];
            socket.emit('change_status', {status: type, id: $(this).attr('data-id')});
            $('span[data-id=' + $(this).attr('data-id')+ ']').removeClass('active');
            $('span[data-id=' + $(this).attr('data-id') + '].badge-' + type).addClass('active');
        });
        $('button[data-tooltip=tooltip]').tooltip({
            placement: 'top',
            html : true
        });
    });
</script>
