<% layout('layout') -%>
<% script() -%>
<% stylesheet() -%>
<link rel="stylesheet" href="/css/jquery-ui.css">
<div class="row">
    <% if(user){ %>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Informations</h3>
            </div>
            <div class="panel-body">
                Petite note concernant le site.
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Donation</h3>
            </div>
            <div class="panel-body">
                <center>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="HM2KY8XYMPTDL">
                        <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
                        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </center>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-question-sign"></i> Nom du site <small>Sondage</small></h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <input name="name" class="form-control" placeholder="Nom du site ex:dev-monkey" />
                    </div>
                    <div id="btnDomaine" class="form-group">
                        <button id="check_domaine" type="submit" class="btn btn-default">Vérifier</button>
                    </div>
                </form>
                <div id="domaine_checked" class="list-group" style="display:none;">
                    <span style="cursor:pointer;" onclick="$('#domaine_checked .listSondage').toggle('slow');" class="text list-group-item"></span>
                    <div class="listSondage"></div>
                </div>
                <div id="listSondage" class="list-group">
                    <% for(var i=0;i < sondages.length;i++){ 
                        %>
                        <a href="javascript:void(0)" class="list-group-item">
                            <span data-id="<%= sondages[i]._id %>" data-tooltip="tooltip" title="+1" class="pull-right glyphicon glyphicon-thumbs-up">&nbsp;</span>&nbsp;
                            <%= sondages[i].text %>
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-exclamation-sign"></i> Vos repports de bug</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <% for(var i=0;i < bugs.length;i++){ 
                            var cls = "";
                            var title = "";
                            if(bugs[i].status == 0){
                                cls = 'success';
                                title = 'Traité';
                            }
                            if(bugs[i].status == 1){
                                cls = 'warning';
                                title = 'En cours';
                            }
                            if(bugs[i].status == 2){
                                cls = 'danger';
                                title = 'Non traité';
                            }
                            %>
                            <a href="#" class="list-group-item">
                                <span data-id="<%= bugs[i]._id %>" data-tooltip="tooltip" title="<%= title %>" class="badge badge-<%= cls %> active">&nbsp;</span>
                                <span class="badge"><%= fromNow(bugs[i].created) %></span>
                                <%= bugs[i].comment %>
                            </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-info-sign"></i> Dernieres nouvelles</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <span class="badge">En ce moment</span>
                                <i class="fa fa-fw fa-calendar"></i> Ca code, ca code..
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">Le 1er janvier 2015</span>
                                <i class="fa fa-fw fa-comment"></i> Mise en ligne du site
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <!-- /.row -->
        <script src="/js/jquery-1.11.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect();
            socket.emit('new_user', '<%= user._id %>');
            $('#btnDomaine').delegate('#check_domaine', 'click', function(evt){
                $('#domaine_checked .listSondage').html('');
                var domaine = $("input[name=name]").val();
                socket.emit('check_domaine', domaine);
                evt.preventDefault();
            });
            $('#btnDomaine').delegate('#save_domaine', 'click', function(evt){
                var domaine = $("input[name=name]").val();
                socket.emit('save_domaine', domaine);
                evt.preventDefault();
            });
            var statusArr = ['success', 'warning', 'danger'];
            $('span[data-tooltip=tooltip]').tooltip({
                placement: 'top',
                html: true
            });
            socket.on('domaine_saved', function (data) {
                $("input[name=name]").val('');
                $('#listSondage').append('<a href="javascript:void(0)" class="list-group-item">\
                    <span data-id="'+data._id+'" data-tooltip="tooltip" title="+1" class="pull-right glyphicon glyphicon-thumbs-up">&nbsp;</span>&nbsp;\
                    '+ data.text +'\
                </a>');
                $('#domaine_checked').hide('slow');
            });
            socket.on('status_changed', function (data) {
                $('span[data-id=' + data.id + ']').removeClass('badge-' + statusArr[data.oldStatus]);
                $('span[data-id=' + data.id + ']').addClass('badge-' + statusArr[data.status]);
            });
            socket.on('domaine_checked', function (data) {
                $('#domaine_checked .listSondage').append('<a href="javascript:void(0)" class="list-group-item list-group-item-success">\
                    '+ data +'\
                </a>');
                if($('#domaine_checked a').length > 0){
                    $('#domaine_checked .text').html($('#domaine_checked a').length+'/5 domaines disponibles');
                    $('#domaine_checked').show('slow');
                    $('#btnDomaine').html('<button id="check_domaine" type="submit" class="btn btn-default">Vérifier</button>\
                      <button id="save_domaine" type="submit" class="btn btn-default">Envoyer</button>');
                }
            });
        </script>