{% set months = {1:'Janvier', 2: 'Fevrier', 3: 'Mars', 4: 'Avril', 5: 'Mai', 6: 'Juin', 7: 'Juillet', 8: 'Aout', 9: 'Septembre', 10: 'Octobre', 11: 'Novembre', 12: 'Decendre'} %}
<div class="input-main">
     {% set startDate = ( app.request.get('date_time')[element.Question.id]['start_date'] is defined ? app.request.get('date_time')[element.Question.id]['start_date'] : '') %}
     
     {% if element.Question.Options['DatetimeType'] is defined and element.Question.Options['DatetimeType'][0] == 2 %}
       {% set endDate = ( app.request.get('date_time')[element.Question.id]['end_date'] is defined ? app.request.get('date_time')[element.Question.id]['end_date'] : '') %}     
      
        <div class="input-block time">
             <div class="grid_10">
                 {% if element.Question.Options['DatetimeType']['format'] is defined %}                        
                         {% if element.Question.Options['DatetimeType']['format'] == 'd-m-y' %}
                                 
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Jour</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][day]">
                                              <option value='0'></option>
                                              {% for i in 1..31 %}
                                                         <option value='{{ i }}' {{ (startDate['day'] is defined and startDate['day']==i) ? 'selected=selected' :''}} >{{ i }}</option>
                                              {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Mois</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][month]">
                                              <option value='0'></option>
                                              {% for month in months %}
                                                      <option value='{{ loop.index }}' {{ (startDate['month'] is defined and startDate['month']==loop.index) ? 'selected=selected' :''}}>{{ month }}</option>
                                               {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Année</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][year]">
                                            <option value='0'></option>
                                                        {% for i in 1990..2020 %}
                                            <option value='{{ i }}' {{ (startDate['year'] is defined and startDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                     
                               <div class="stop"></div>
                               
                               <div class="grid_2">
                                    <div class="field">
                                        <label>Jour</label>
                                        <select name="date_time[{{element.Question.id}}][end_date][day]">
                                              <option value='0'></option>
                                              {% for i in 1..31 %}
                                                         <option value='{{ i }}' {{ (endDate['day'] is defined and endDate['day']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                              {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Mois</label>
                                        <select name="date_time[{{element.Question.id}}][end_date][month]">
                                               <option value='0'></option>
                                               {% for month in months %}
                                                      <option value='{{ loop.index }}' {{ (endDate['month'] is defined and endDate['month']==loop.index) ? 'selected=selected' :''}}>{{ month }}</option>
                                               {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Année</label>
                                        <select name="date_time[{{element.Question.id}}][end_date][year]">
                                             <option value='0'></option>
                                                        {% for i in 1990..2020 %}
                                            <option value='{{ i }}' {{ (endDate['year'] is defined and endDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                               
                              
                         {% elseif element.Question.Options['DatetimeType']['format'] == 'm-y' %}
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Mois</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][month]">
                                             <option value='0'></option>
                                                        {% for month in months %}
                                            <option value='{{ loop.index }}' {{ (startDate['month'] is defined and startDate['month']==loop.index) ? 'selected=selected' :''}}>{{ month }}</option>
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Année</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][year]">
                                             <option value='0'></option>
                                                        {% for i in 1990..2020 %}
                                            <option value='{{ i }}' {{ (startDate['year'] is defined and startDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                
                               <div class="stop"></div> 
                               
                                <div class="grid_2">
                                        <div class="field">
                                            <label>Mois</label>
                                            
                                            <select name="date_time[{{element.Question.id}}][end_date][month]">
                                                 <option value='0'></option>
                                                            {% for month in months %}
                                                <option value='{{ loop.index }}' {{ (endDate['month'] is defined and endDate['month']==loop.index) ? 'selected=selected' :''}}>{{ month }}</option>
                                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="grid_2">
                                        <div class="field">
                                            <label>Année</label>
                                            <select name="date_time[{{element.Question.id}}][end_date][year]">
                                                 <option value='0'></option>
                                                            {% for i in 1990..2020 %}
                                                <option value='{{ i }}' {{ (endDate['year'] is defined and endDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                  
                        {% elseif element.Question.Options['DatetimeType']['format'] == 'y' %}
                                    <div class="grid_2">
                                        <div class="field">
                                            <label>Année</label>
                                            <select name="date_time[{{element.Question.id}}][start_date][year]">
                                                 <option value='0'></option>
                                                            {% for i in 1990..2020 %}
                                                <option value='{{ i }}' {{ (startDate['year'] is defined and startDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="stop"></div> 
                                    
                                    <div class="grid_2">
                                        <div class="field">
                                            <label>Année</label>
                                            <select name="date_time[{{element.Question.id}}][end_date][year]">
                                                 <option value='0'></option>
                                                            {% for i in 1990..2020 %}
                                                <option value='{{ i }}' {{ (startDate['year'] is defined and startDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div> 
                        {% elseif element.Question.Options['DatetimeType']['format'] == 'H:i' %}
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Heure</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][hour]">
                                             <option value='hr'></option>
                                                        {% for i in 0..23 %}
                                                        {% if i==0 %}
                                                             <option value="0" {{ (startDate['hour'] is defined and startDate['hour']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                        {% else %}  
                                                             <option value='{{ i }}' {{ (startDate['hour'] is defined and startDate['hour']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Minute</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][minute]">
                                            <option value='min'></option>  
                                                        {% for i in 0..59 %}
                                                            {% if i==0 %}
                                                                 <option value="0" {{ (startDate['minute'] is defined and startDate['minute']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                            {% else %}  
                                                                 <option value='{{ i }}' {{ (startDate['minute'] is defined and startDate['minute']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                    
                                <div class="stop"></div>
                                
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Heure</label>
                                        <select name="date_time[{{element.Question.id}}][end_date][hour]">
                                             <option value='hr'></option>
                                                        {% for i in 0..23 %}
                                                        {% if i==0 %}
                                                             <option value="0" {{ (endDate['hour'] is defined and endDate['hour']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                        {% else %}  
                                                             <option value='{{ i }}' {{ (endDate['hour'] is defined and endDate['hour']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Minute</label>
                                        <select name="date_time[{{element.Question.id}}][end_date][minute]">
                                             <option value='min'></option>
                                                        {% for i in 0..59 %}
                                                {% if i==0 %}
                                                     <option value="0" {{ (endDate['minute'] is defined and endDate['minute']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% else %}  
                                                     <option value='{{ i }}' {{ (endDate['minute'] is defined and endDate['minute']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% endif %}
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                    
                       {% endif %}
                 {% else %}   
                        <div class="grid_2">
                             <div class="field">
                                 <label>Jour</label>
                                 <select name="date_time[{{element.Question.id}}][start_date][day]">
                                       <option value='0'></option>
                                                 {% for i in 1..31 %}
                                     <option value='{{ i }}' {{ (startDate['day'] is defined and startDate['day']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                 {% endfor %}
                                 </select>
                             </div>
                         </div>
                         <div class="grid_2">
                             <div class="field">
                                 <label>Mois</label>
                                 <select name="date_time[{{element.Question.id}}][start_date][month]">
                                      <option value='0'></option>
                                                 {% for month in months %}
                                     <option value='{{ loop.index }}' {{ (startDate['month'] is defined and startDate['month']==loop.index) ? 'selected=selected' :''}}>{{ month }}</option>
                                                 {% endfor %}
                                 </select>
                             </div>
                         </div>
                         <div class="grid_2">
                             <div class="field">
                                 <label>Année</label>
                                 <select name="date_time[{{element.Question.id}}][start_date][year]">
                                      <option value='0'></option>
                                                 {% for i in 1990..2020 %}
                                     <option value='{{ i }}' {{ (startDate['year'] is defined and startDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                 {% endfor %}
                                 </select>
                             </div>
                         </div>
                         <div class="grid_2">
                             <div class="field">
                                 <label>Heure</label>
                                 <select name="date_time[{{element.Question.id}}][start_date][hour]">
                                      <option value='hr'></option>
                                                 {% for i in 0..23 %}
                                                {% if i==0 %}
                                                     <option value="0" {{ (startDate['hour'] is defined and startDate['hour']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% else %}  
                                                     <option value='{{ i }}' {{ (startDate['hour'] is defined and startDate['hour']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% endif %}
                                                 {% endfor %}
                                 </select>
                             </div>
                         </div>
                         <div class="grid_2">
                             <div class="field">
                                 <label>Minute</label>
                                 <select name="date_time[{{element.Question.id}}][start_date][minute]">
                                      <option value='min'></option>
                                                 {% for i in 0..59 %}
                                                {% if i==0 %}
                                                     <option value="0" {{ (startDate['minute'] is defined and startDate['minute']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% else %}  
                                                     <option value='{{ i }}' {{ (startDate['minute'] is defined and startDate['minute']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% endif %}
                                                 {% endfor %}
                                 </select>
                             </div>
                         </div>
                                
                         <div class="stop"></div>
                         
                         <div class="grid_2">
                             <div class="field">
                                 <label>Jour</label>
                                 <select name="date_time[{{element.Question.id}}][end_date][day]">
                                      <option value='0'></option>
                                                 {% for i in 1..31 %}
                                     <option value='{{ i }}' {{ (endDate['day'] is defined and endDate['day']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                 {% endfor %}
                                 </select>
                             </div>
                         </div>
                         <div class="grid_2">
                             <div class="field">
                                 <label>Mois</label>
                                 <select name="date_time[{{element.Question.id}}][end_date][month]">
                                      <option value='0'></option>
                                                 {% for month in months %}
                                     <option value='{{ loop.index }}' {{ (endDate['month'] is defined and endDate['month']==loop.index) ? 'selected=selected' :''}}>{{ month }}</option>
                                                 {% endfor %}
                                 </select>
                             </div>
                         </div>
                         <div class="grid_2">
                             <div class="field">
                                 <label>Année</label>
                                 <select name="date_time[{{element.Question.id}}][end_date][year]">
                                      <option value='0'></option>
                                                 {% for i in 1990..2020 %}
                                     <option value='{{ i }}' {{ (endDate['year'] is defined and endDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                 {% endfor %}
                                 </select>
                             </div>
                         </div>
                         <div class="grid_2">
                             <div class="field">
                                 <label>Heure</label>
                                 <select name="date_time[{{element.Question.id}}][end_date][hour]">
                                      <option value='hr'></option>
                                                 {% for i in 0..23 %}
                                                {% if i==0 %}
                                                     <option value="0" {{ (endDate['hour'] is defined and endDate['hour']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% else %}  
                                                     <option value='{{ i }}' {{ (endDate['hour'] is defined and endDate['hour']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% endif %}
                                                 {% endfor %}
                                 </select>
                             </div>
                         </div>
                         <div class="grid_2">
                             <div class="field">
                                 <label>Minute</label>
                                 <select name="date_time[{{element.Question.id}}][end_date][minute]">
                                      <option value='min'></option>
                                                 {% for i in 0..59 %}
                                                {% if i==0 %}
                                                     <option value="0" {{ (endDate['minute'] is defined and endDate['minute']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% else %}  
                                                     <option value='{{ i }}' {{ (endDate['minute'] is defined and endDate['minute']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% endif %}
                                                 {% endfor %}
                                 </select>
                             </div>
                         </div>
                                
                 {% endif %}
                
             </div>
             <p> {{ (errors is defined and errors[element.Question.id] is defined) ? errors[element.Question.id] : '' }} </p>     
         </div>           
       {% else %}
             
         <div class="input-block time">
             <div class="grid_10">
               {% if element.Question.Options['DatetimeType']['format'] is defined %}
                     {% if element.Question.Options['DatetimeType']['format'] == 'd-m-y' %}
                          
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Jour</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][day]">
                                              <option value='0'></option>
                                              {% for i in 1..31 %}
                                                         <option value='{{ i }}' {{ (startDate['day'] is defined and startDate['day']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                              {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Mois</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][month]">
                                               <option value='0'></option>
                                              {% for month in months %}
                                                      <option value='{{ loop.index }}' {{ (startDate['month'] is defined and startDate['month']==loop.index) ? 'selected=selected' :''}}>{{ month }}</option>
                                               {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Année</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][year]">
                                             <option value='0'></option>
                                                        {% for i in 1990..2020 %}
                                            <option value='{{ i }}' {{ (startDate['year'] is defined and startDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                     
                              
                         {% elseif element.Question.Options['DatetimeType']['format'] == 'm-y' %}
                                    <div class="grid_2">
                                        <div class="field">
                                            <label>Mois</label>
                                            <select name="date_time[{{element.Question.id}}][start_date][month]">
                                                 <option value='0'></option>
                                                            {% for month in months %}
                                                <option value='{{ loop.index }}' {{ (startDate['month'] is defined and startDate['month']==loop.index) ? 'selected=selected' :''}}>{{ month }}</option>
                                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="grid_2">
                                        <div class="field">
                                            <label>Année</label>
                                            <select name="date_time[{{element.Question.id}}][start_date][year]">
                                                 <option value='0'></option>
                                                            {% for i in 1990..2020 %}
                                                <option value='{{ i }}' {{ (startDate['year'] is defined and startDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                               
                                
                                  
                        {% elseif element.Question.Options['DatetimeType']['format'] == 'y' %}
                                    <div class="grid_2">
                                        <div class="field">
                                            <label>Année</label>
                                            <select name="date_time[{{element.Question.id}}][start_date][year]">
                                                 <option value='0'></option>
                                                            {% for i in 1990..2020 %}
                                                <option value='{{ i }}' {{ (startDate['year'] is defined and startDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                        {% elseif element.Question.Options['DatetimeType']['format'] == 'H:i' %}
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Heure</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][hour]">
                                            
                                             <option value='hr'></option>
                                                        {% for i in 0..23 %}
                                                {% if i==0 %}
                                                     <option value="0" {{ (startDate['hour'] is defined and startDate['hour']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% else %}  
                                                     <option value='{{ i }}' {{ (startDate['hour'] is defined and startDate['hour']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% endif %}
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="grid_2">
                                    <div class="field">
                                        <label>Minute</label>
                                        <select name="date_time[{{element.Question.id}}][start_date][minute]">
                                             <option value='min'></option>
                                                        {% for i in 0..59 %}
                                                        {% if i==0 %}
                                                             <option value="0" {{ (startDate['minute'] is defined and startDate['minute']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                        {% else %}  
                                                             <option value='{{ i }}' {{ (startDate['minute'] is defined and startDate['minute']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                       {% endif %}
               {% else %}   
                    <div class="grid_2">
                         <div class="field">
                             <label>Jour</label>
                             <select name="date_time[{{element.Question.id}}][start_date][day]">
                                  <option value='0'></option>
                                             {% for i in 1..31 %}
                                 <option value='{{ i }}' {{ (startDate['day'] is defined and startDate['day']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                             {% endfor %}
                             </select>
                         </div>
                     </div>
                     <div class="grid_2">
                         <div class="field">
                             <label>Mois</label>
                             <select name="date_time[{{element.Question.id}}][start_date][month]">
                                  <option value='0'></option>
                                             {% for month in months %}
                                 <option value='{{ loop.index }}' {{ (startDate['month'] is defined and startDate['month']==loop.index) ? 'selected=selected' :''}}>{{ month }}</option>
                                             {% endfor %}
                             </select>
                         </div>
                     </div>
                     <div class="grid_2">
                         <div class="field">
                             <label>Année</label>
                             <select name="date_time[{{element.Question.id}}][start_date][year]">
                                  <option value='0'></option>
                                             {% for i in 1990..2020 %}
                                 <option value='{{ i }}' {{ (startDate['year'] is defined and startDate['year']==i) ? 'selected=selected' :''}}>{{ i }}</option>
                                             {% endfor %}
                             </select>
                         </div>
                     </div>
                     <div class="grid_2">
                         <div class="field">
                            
                             <label>Heure</label>
                             <select name="date_time[{{element.Question.id}}][start_date][hour]">
                                             <option value="hr"></option>
                                  
                                             {% for i in 0..23 %}
                                                {% if i==0 %}
                                                     <option value="0" {{ (startDate['hour'] is defined and startDate['hour']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% else %}  
                                                     <option value='{{ i }}' {{ (startDate['hour'] is defined and startDate['hour']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% endif %}
                                             {% endfor %}
                             </select>
                         </div>
                     </div>
                     <div class="grid_2">
                         <div class="field">
                             <label>Minute</label>
                             <select name="date_time[{{element.Question.id}}][start_date][minute]">
                                 
                                  <option value="min"></option>
                                             {% for i in 0..59 %}
                                                {% if i==0 %}
                                                     <option value="0" {{ (startDate['minute'] is defined and startDate['minute']== '0') ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% else %}  
                                                     <option value='{{ i }}' {{ (startDate['minute'] is defined and startDate['minute']== i) ? 'selected=selected' :''}}>{{ i }}</option>
                                                {% endif %}
                                              {% endfor %}
                             </select>
                         </div>
                     </div> 
               {% endif %}
                 
             </div>
                    <p> {{ (errors is defined and errors[element.Question.id] is defined) ? errors[element.Question.id] : '' }} </p> 
         </div>        
       {% endif %} 
</div>