{% extends 'VMGeneralBundle:Middle:layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="block_header" ><h1>Organisation du questionnaire {{questionnaire.name}}</h1></div>
<div class="grid_3"  >
    {% include 'VMQuestionnaireBundle:Form:questionnaire_form_menu.html.twig' with {'location' : 'elements'} %}
</div>
<div class="grid_9" >
    <div class="block-main">

        <div class="simple_tabs">
            <div class="block_tabs">
                <ul class="tabs _2" style="display: none;">
                    <li><a >Informations de base du questionnaire</a></li>
                    <li><a class="on">Questions / Organisation</a></li>

                </ul>
            </div>
            <div class="block-simple">
                <div class="block_design">
                    <div class="block_content question" style="margin-bottom: 100px;">
                    {% include 'VMQuestionnaireBundle:Middle:Element/element_list.html.twig' %}
                        <div id="element_form" class="new" style="display:none;">
                            <div style="height:10px;">&nbsp;</div>
                        </div>   
                        <div class="stop"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#
<div class="button_bar" style="display: none;">
    {% include 'VMQuestionnaireBundle:Middle:Element/elements_menu.html.twig' %}
    <span class="reor">Réorganiser les élements</span>
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
    {% if questionnaire.QuestionnaireElement|length > 0 %}
    <a class="btn blue right" onclick="$('#element_form').toggle('fast');
            return false;"  href="">Terminer le questionnaire</a>
    <a target="_blank" class="btn green right" href='{{ path('mo_questionnaire_preview_show', {'slug_quest': app.request.get('slug_quest'), 'slug_ent': app.request.get('slug_ent')}) }}'> Prévisualiser</a>
    {% endif %}
</div>
#}
<script type="text/javascript">

var positionElementInPage = $('#scrollingDiv').offset().top;
$(window).scroll(

        function() {
            if ($(window).scrollTop() >= positionElementInPage) {

                // fixed
                $('#scrollingDiv').addClass("floatable");
            } else {
                // relative
                $('#scrollingDiv').removeClass("floatable");
            }
        }
);

    $('#myonoffswitch').click(function() {
        if ($('input[name="onoffswitch"]').attr('checked'))
            $('input[name="onoffswitch"]').removeAttr('checked');
        else
            $('input[name="onoffswitch"]').attr('checked', 'checked');
    });
    $(".collapse").click(function() {
        var status = $(this).closest('.group_element').children('.group-content');
        if ($(status).is(':visible')) {
            $(status).slideUp();
            $(this).html('<div class="img dep_bas"></div><span>Deplier</span>');
        } else {
            $(status).slideDown();
            $(this).html('<div class="img dep"></div><span>Replier</span>');
        }
    });

    $(".clickMe").click(function() {
        $(this).parent().next().slideToggle();
    });
    $(document.body).click(function(e) {
        var fermer = $('.clickMe');
        if ($('.clickMe').length != 0) {
            if (!$(e.target).is(fermer) && !$.contains(fermer[0], e.target)) {
                $('.arrow_box').hide();
            }
        }
    });


    //function to display form 
    function display_form(that) {
        var data_id = $(that).attr('data-id');
        var data_elem_id = $(that).attr('data-elem_id');
        
        if (!data_elem_id) {
            data_elem_id = data_id;
            var url = "{{path('mo_questionnaire_element_new', {'slug_ent': app.request.get('slug_ent'), 'slug_quest': app.request.get('slug_quest')})}}";
            var data = {'element_type': $(that).attr('data-type'), 'question_type': $(that).attr('data-question-type'), 'data_id': data_elem_id};
        } else {
            var url = "{{path('mo_questionnaire_element_new', {'slug_ent': app.request.get('slug_ent'), 'slug_quest': app.request.get('slug_quest')})}}";

            url = url.replace('/element/new', '/element/edit/' + data_elem_id);
            var data_list = $(that).attr('data-list_id');
            var data = {'data_list': data_list, 'element_type': $(that).attr('data-type'), 'question_type': $(that).attr('data-question-type'), 'data_id': data_elem_id};
        }

        var action = $(that).attr('data-action');
        if(action == 'edit'){
            $('#element_form.new').html('');
        }
        if ($(that).parents("h4").length > 0) {
            $(that).parents("h4").next(".element_display").css("opacity", "0.3");
        } else {
            $(that).parents(".element_display").css("opacity", "0.3");
        }
        $.ajax({
            type: "POST",
            data: data,
            url: url,
            success: function(data) {

                if (data_id && !action) {
                    $("#list_" + data_id).append("<div class='stop'></div><div class='list_" + data_id + "'>" + data + "</div>");
                }

                else if (data_elem_id && action == 'edit') {

                    var active_edit = $(that).children('.edit').attr('class').match('active');

                    if (!active_edit) {
                        $('#edit_form').remove();
                        $('#elem_hidden').css('display', 'block');
                        $('#elem_hidden').attr('id', '');
                        $('.edit').each(function() {
                            $(this).removeClass('active');
                        });

                        $(that).children('.edit').addClass('active');
                    } else {
                        $(that).children('.edit').removeClass('active');
                        $('#edit_form').remove();
                        $('#elem_hidden').css('display', 'block');
                        $('#elem_hidden').attr('id', '');
                    }


                    var active_edit_new = $(that).children('.edit').attr('class').match('active');

                    if($(that).attr('data-type')==3){
                        if (!$('#edit_form').html() && active_edit_new) {
                            if ($(that).parents("h4").length > 0) {
                                $(that).parents("h4").next(".element_display").css("display", "none");
                                $(that).parents("h4").next(".element_display").attr("id", "elem_hidden");
                                $(that).parents("h4").next(".element_display").css("opacity", "1");
                                $(that).parents("h4").next(".element_display").before("<div class='element_display' id='edit_form'><div class='stop'></div><div class='list_" + data_elem_id + "'>" + data + "</div></div>");
                            } else {

                                $(that).parents(".element_display").css("display", "none");
                                $(that).parents(".element_display").attr("id", "elem_hidden");
                                $(that).parents(".element_display").before("<div class='element_display' id='edit_form'><div class='stop'></div><div class='list_" + data_elem_id + "'>" + data + "</div></div>");
                            }
                        }
                    }else{
                        
                         if (!$('#edit_form').html() && active_edit_new) {
                            if ($(that).parents("h3").length > 0) {
                                $(that).parents("h3").next(".group-content").css("display", "none");
                                $(that).parents("h3").next(".group-content").attr("id", "elem_hidden");
                                $(that).parents("h3").next(".group-content").css("opacity", "1");
                                $(that).parents("h3").next(".group-content").before("<div class='group-content' id='edit_form'><div class='stop'></div><div class='list_" + data_elem_id + "'>" + data + "</div></div>");
                            } else {

                                $(that).parents(".group-content").css("display", "none");
                                $(that).parents(".group-content").attr("id", "elem_hidden");
                                $(that).parents(".group-content").before("<div class='group-content' id='edit_form'><div class='stop'></div><div class='list_" + data_elem_id + "'>" + data + "</div></div>");
                            }
                        }
                    }   
                    var idBox = "edit_form";
                } else {
                    var idBox = "element_form";
                    $('#edit_form').remove();
                    $('#elem_hidden').css('display', 'block');
                    $("#element_form.new").show();
                    $("#element_form.new").html("<div class='list_element_form'><div class='stop'></div><div>" + data + "</div></div>");
                    if ($('#elem_hidden').html())
                        $('#elem_hidden').attr('id', '');
                }

                var parent_id = $(that).attr('data-parent_id');

                //setting parent_id
                if (parent_id) {
                    if ($('#QuestionnaireElement_parent_id').length > 0) {
                        $('#QuestionnaireElement_parent_id').val(parent_id);
                    } else {
                        var form_div = $('.list_' + data_id + ' .form');
                        if ($(that).attr('data-type') == 3) {
                            form_div.append('<input type="hidden" value="' + parent_id + '" id="Question_QuestionnaireElement_parent_id" name="Question[QuestionnaireElement][parent_id]">');
                        } else {
                            form_div.append('<input type="hidden" value="' + parent_id + '" id="QuestionnaireElement_parent_id" name="QuestionnaireElement[parent_id]">');
                        }
                    }
                }

                if ($(that).parents("h4").length > 0) {
                    $(that).parents("h4").next(".element_display").css("opacity", "1");
                } else {
                    $(".element_display").css("opacity", "1");
                }
                $('html, body').animate({
                    scrollTop: $('#'+idBox).offset().top
                }, 'slow');
            },
            error: function(data) {
                return 0;
            }
        });
        return false;
    }

    function display_config(that) {
        $('#div_config').remove();
        var data_elem_id = $(that).attr('data-elem_id');
        {% set index = '/' %}
        {% if app.environment == 'dev' %}
                {% set index = '/app_dev.php/' %}
        {% endif %}
        $.ajax({
            type: "GET",
            url: "{{index}}admin/{{ app.request.get('slug_ent') }}/questionnaire/{{ app.request.get('slug_quest') }}/element/" + data_elem_id + "/form/config",
            success: function(data) {
                $(that).after(data);
            },
            error: function(data) {
                return 0;
            }
        })
    }

    function saveData(url, that) {
        $.ajax({
            type: "POST",
            url: url,
            data: {'field-type': $(that).attr('data-type'), 'value': $(that).val()},
            success: function(data) {                
                if ($(that).attr('data-type') != 'time_limit') {
                  $(that).parents('.input-main:first').replaceWith(data);
                } else {
                    $('#div_config').remove();
                    if (!$('.time_limit_' + $(that).attr('data-id')).html()) {
                        $('.list_' + $(that).attr('data-id') + ' li:last').after('<li class="time_limit_' + $(that).attr('data-id') + '"><span class="bold">Temps de réponse : </span> ' + $(that).val() + '</li>');
                    } else {
                        $('.time_limit_' + $(that).attr('data-id')).html('<span class="bold">Temps de réponse : </span> ' + $(that).val());
                    }
                }
            },
            error: function(data) {
                return 0;
            }
        });
        return false;
    }
    
    function getForm(url, that) {
        if ($(that).attr('data-type') == 'title') {
            $(that).replaceWith('<div class="input-main"><div class="input-block"><div class="field"> <input onblur="saveData(\'' + url + '\', this)" type="text" data-type="title" id="QuestionnaireElement_name" name="QuestionnaireElement[name]" required="required" maxlength="255" value="' + $(that).text() + '"></div></div></div>');
            $("#QuestionnaireElement_name").focus();
        } else if ($(that).attr('data-type') == 'titleGroup') {
            $(that).replaceWith('<div class="input-main left _80_imp title_spe"><div class="input-block"><div class="field"> <input onblur="saveData(\'' + url + '\', this)" type="text" data-type="titleGroup" id="QuestionnaireElement_name" name="QuestionnaireElement[name]" required="required" maxlength="255" value="' + $(that).text() + '"></div></div></div>');
            $("#QuestionnaireElement_name").focus();
        } else { 
            var data = $(that).html();
            $(that).replaceWith('<div class="input-main"><div class="input-block"><div class="field"><textarea data-type="description" id="QuestionnaireElement_text_description" name="QuestionnaireElement[text_description]" required="required">' + data.trim() + '</textarea></div></div></div>');
                 tinyMCE.init({
                            theme : "advanced",
                            mode: "exact",
                            elements : "QuestionnaireElement_text_description",
                            theme_advanced_toolbar_location : "top",
                            theme_advanced_buttons1 : "bold,italic,underline,strikethrough,separator,"
                            + "justifyleft,justifycenter,justifyright,justifyfull,backcolor ,forecolor,fontselect,fontsizeselect,"
                            + "bullist,numlist,outdent,indent,link,unlink,anchor,separator,"
                            +"undo,redo,cleanup,code,separator,sub,sup,charmap,update",
                            removeformat_selector : 'b,strong,em,i,span,ins,p',
                            theme_advanced_buttons2 : "",
                            theme_advanced_buttons3 : "",
                            invalid_elements : "em/i,strike,u,strong/b,div[align], img, #p[align],-ol[type|compact],-ul[type|compact],-li",          
                            theme_advanced_font_sizes : "10px,12px,14px,16px,18px,24px,36px , 40px",
                            height:"100px", 
                            width: '99%',
                            theme_advanced_toolbar_align : "left",
                            theme_advanced_resizing : true,
                            paste_remove_styles : true,
                            paste_remove_spans : true,
                            paste_stip_class_attributes : "all",
                            force_br_newlines : true,
                            force_p_newlines : false,
                            forced_root_block : '' ,
                            setup : function(ed) {            
                                 // Register custom update button
                                 ed.onInit.add(function(ed){
                                    ed.setContent(data);
                                 });
                             
                                 ed.addButton('update', {
                                   title : 'update',
                                   image : 'http://{{app.request.httpHost}}{{asset('bundles/vmgeneral/images/save.png')}}',
                                   onclick : function() {
                                       tinyMCE.triggerSave();                         
                                       saveData(url, $('#QuestionnaireElement_text_description'));           
                                   }
                                });
                           }

                });
        }
         
    }
</script>
{% endblock %}
