<div class="input-main">
    <div class="input-block">
        {% if element.Question.Options['EvaluationType'] is defined and element.Question.Options['EvaluationType'] == 1 %}
            <div class="field">
                <div class="field"><input type="range" name="evaluation_question[{{element.question.id}}]"  value="{{ values is defined and values[element.question.id] is defined ? values[element.question.id]:0}}" max="10" min="0" step="1"></div>
            </div>
        {% else %}
            {% if element.Question.Options['EvaluationType'] is defined and element.Question.Options['EvaluationType'] == 2 %}
                <div class="field">
                    <div class="field"><input type="range" name="evaluation_question[{{element.question.id}}]"  value="{{ values is defined and values[element.question.id] is defined ? values[element.question.id]:0}}" max="10" min="0" step="1"></div>
                </div>
            {% else %}
                <div class="field">
                    <div class="field"><input type="range" name="evaluation_question[{{element.question.id}}]" value="{{ values is defined and values[element.question.id] is defined ? values[element.question.id]:0}}" max="10" min="0" step="1"></div>
                </div>
            {% endif %}
        {% endif %}
            
        <p>{{ (errors is defined and errors[element.question.id] is defined) ? errors[element.question.id] : '' }}</p>    
    </div>
</div>
