<style>
    canvas {
        -webkit-transform: scale(0.99);  
        -moz-transform: scale(0.99);  
        border: 1px #d8d8d solid; 
        background-image: url('{{ asset('bundles/vmgeneral/images/circle.png') }}');
        background-position: center;
        margin-left: 10%;
    }
    .defaultSkin tr.mceFirst .mceToolbar tr td{
        position:inherit !important;
    }
</style>
{# This is Conditions to know where we are in response part or edit #}
{% set page = app.request.attributes.get('_route') %}
{% set env = page| slice(0, 2) %}

{% if page == 'mo_questionnaire_elements' or app.request.get('data_list') or  page == 'bo_questionnaire_elements' %}
    {% set action = 'edition' %}
    {% set detect = 'detect' %}
    {% set editLink = path(env~'_questionnaire_element_update_ajax',{'id':element.id,'slug_ent':element.Questionnaire.Enterprise.slug,'slug_quest':element.questionnaire.slug}) %}
{% else %}
    {% set action = 'process' %}
    {% set detect = '' %}
{% endif %}

{% set list_id = "list_"~ ((element_id is defined) ? element_id : element.id )~((subchild_id is defined) ? '_'~ subchild_id~'' : '' )~((subsubchild_id is defined) ? '_'~ subsubchild_id~'' : '') %}


<li class="element_question" style="border:none;" data-id = "{{element.id}}" id="{{list_id}}">

    <h4 class="questionName" {{ element.level == 0 ? "style='display:block;'" : "style='display:none;'"}}><span class="color_green bold ">Question n°{{element.position}}</span>
            {% if action == 'edition' %}               
        <span class="right option">
                        {#
                        if element.Question.StdQuestionType.template != 'webcam'
                                <a class="tooltip" href="javascript:void(0);" data-elem_id="{{element.id}}" data-type="time_limit" onclick="return display_config(this);"><div class="img"></div><span>Configuration</span> </a>
                        #}


            <a class="tooltip" href="{{path(env~'_element_duplicate',{'slug_ent':element.Questionnaire.Enterprise.slug,'id':element.id,'slug_quest':element.questionnaire.slug,'type':'question'})}}"><div class="img duplicate"></div><span>Dupliquer</span> </a>

            <a class="tooltip" href="javascript:void(0);" data-id="{{element.parent ? element.parent.id:''}}" data-action="edit" data-list_id="{{list_id}}"  data-question-type="{{ element.Question.StdQuestionType.id }}" data-type="3" data-elem_id="{{element.question.id}}" onclick="return display_form(this);"><div class="img edit"></div><span>Editer</span></a>
                        {% if element.Question.QuestionnaireQuestionResponse | length > 0 %}
            <a class="tooltip" href="javascript:void(0);" onclick="alert('Cette question comporte une ou plusieurs réponses');"><div class="img close"></div><span>Supprimer</span> </a>
                        {% else %}
            <a class="tooltip" href="{{ path(env~'_questionnaire_element_delete',{'id':element.id,'slug_ent':element.Questionnaire.Enterprise.slug,'slug_quest':element.questionnaire.slug})}}" onclick="return confirm('Are you sure to delete?');"><div class="img close"></div><span>Supprimer</span> </a>
                        {% endif %}
        </span>
                {% endif %}            
        <div class="stop"></div>
    </h4>

    <div class="element_display">
        <div {% if element.timeLimit and action == 'process' %}class="grid_9"{% else %} class="grid_12"{% endif %}>
            {% if action == 'process' %}
                {% if element.timeLimit %}
            <p class="bold time"><div class="img timer"></div><span class="timer">{% trans with {'%time%': element.timeLimit} from 'front' %}questionnaire.question.options.textTimeLimit{% endtrans %}</span><div class="stop"></div></p>
                {% endif %}
            {% endif %}
            <p class="number" {{ element.level == 0 ? "style='display:none;'" : "style='display:block;'"}}>{{element.position}} - </p>
        {% if element.level > 0 %}             
            <p class=" _80_imp bold {{detect}}" data-type="titleGroup" {{ (action=='edition')? "onclick=getForm('"~editLink~"',this);":'' }}>{{element.name}}</p>
        {% else %}
            <p class=" _80_imp bold {{detect}}"  {{ element.Question.StdQuestionType.template == 'webcam' and action == 'process' ? 'style="display:none" id="titleWebcam"' : '' }}  data-type="title" class="{{detect}}"  {{ (action=='edition') ? "onclick=getForm('"~editLink~"',this);":'' }}>{{element.name}}</p>
            <div class="stop"></div>
        {% endif %}
            {% if action == 'edition' %}
            <span class="right option" {{ element.level == 0 ? "style='display:none;'" : "style='display:block;'"}}>
                <a class="tooltip" href="{{path(env~'_element_duplicate',{'slug_ent':element.Questionnaire.Enterprise.slug,'id':element.id,'slug_quest':element.questionnaire.slug,'type':'question'})}}"><div class="img"></div><span>Duplicate</span> </a>
                <a class="tooltip" href="javascript:void(0);" data-id="{{element.parent ? element.parent.id:''}}" data-action="edit" data-question-type="{{ element.Question.StdQuestionType.id }}" data-type="3" data-elem_id="{{element.question.id}}" data-list_id="{{list_id}}" onclick="return display_form(this);"><div class="img edit"></div><span>Editer</span></a>
                    {% if element.Question.QuestionnaireQuestionResponse | length > 0 %}
                <a class="tooltip" href="javascript:void(0);" onclick="alert('Cette question comporte une ou plusieurs réponses');"><div class="img close"></div><span>Supprimer</span> </a>
                    {% else %}
                <a class="tooltip" href="{{ path(env~'_questionnaire_element_delete',{'id':element.id,'slug_ent':element.Questionnaire.Enterprise.slug,'slug_quest':element.questionnaire.slug})}}" onclick="return confirm('Are you sure to delete?');"><div class="img close"></div><span>Supprimer</span> </a>
                    {% endif %}
            </span>

            <div class="stop"></div>
           {% endif %}
        {% if element.textDescription %}
            <div class="italic no_bold textMCE {{detect}}" id="element_description" data-type="description" {{ (action=='edition')? "onclick=getForm('"~editLink~"',this);":'' }} >{{element.textDescription | raw }}</div>
            <div class="stop"></div>
        {% endif %}
            <div class="media_data">           
              {% include 'VMQuestionnaireBundle:Middle:media_type_show.html.twig' with { element: element } %}
            </div>      
        {% if element.Question.StdQuestionType.template is defined %}
            {% include 'VMQuestionnaireBundle:Middle:Element/' ~element.Question.StdQuestionType.template~ '.html.twig' with { element: element } %}
        {% endif %}

            {% if action == 'process' %}
            {% if element.Question.charLimit %}
            <p class="bold color_red thirteenpx">{% trans with {'%number%': element.Question.charLimit} from 'front' %}questionnaire.question.options.charLimit{% endtrans %}</p>
            {% endif %}
            {% if element.Question.needed %}
            <p  class="bold color_red thirteenpx">{% trans from 'front' %}questionnaire.question.options.required{% endtrans %}</p>
            {% endif %}
            {% endif %}
        </div>
        {% if action == 'process' %}
        {% if element.timeLimit %}
        <div class="grid_3">
            <div class="time" style="float:right;margin-right: 50px;">
                <p id="typeTimer">{% trans from 'front' %}questionnaire.question.options.timeLimit{% endtrans %}</p>
                <div class="green clock_webcam">
                    <input name="timer_val" value="" type="hidden" id="timer_val">
                    <canvas id="read_timer" width="100" height="100" data-seconds="{{ element.timeLimit }}"></canvas>
                </div>
            </div>
        </div>
        <script type="text/javascript">

            $(document).ready(function() {
                renderProgress('read');
            });
            function renderProgress(elem) {
                canvas = document.getElementById(elem + '_timer'),
                        ctx = canvas.getContext('2d'),
                        sec = (($('#timer_val').val() !== '') ? $('#timer_val').val() : $(canvas).data('seconds')) | 0,
                        countdown = sec;

                ctx.lineWidth = 10;
                ctx.strokeStyle = "#f9f9f9";
                ctx.fillStyle = '#666666';
                ctx.textAlign = 'center';
                ctx.font = '20px Arial';
                var
                        startAngle = (-Math.PI / 2),
                        time = 0,
                        intv = setInterval(function() {

                            var endAngle = (Math.PI * time * 2 / sec) - Math.PI / 2;
                            ctx.arc(50, 50, 42, startAngle, endAngle, false);
                            startAngle = endAngle;
                            ctx.stroke();

                            ctx.clearRect(20, 30, 50, 50);
                            ctx.fillText(countdown-- + ' s', 50, 58);

                            $('#timer_val').val(countdown);

                            if (++time > sec) {
                                clearInterval(intv);
                                isBlocked = false;
                                history.pushState({"position": 'pos'}, 'doc', document.location.href);
                                $("#process_form").append('<input type="hidden" name="timeout" value="timeout" />');
                                $('#process_form').submit();
                            }

                        }, 1000);

            }
        </script>

        {% endif %}
        {% endif %}

        <div class="stop"></div>
        {% if action == 'edition' %}
        <div class="option_recap">
            <p>Options de la question</p>
            <ul class="lists_{{element.id}}">
                    {% if element.Question.rankin %}
                <li><span class="bold">Pondération de la question :</span> {{element.Question.rankin}}</li>
                    {% endif %}
                    {% if element.Question.needed %}
                <li><span class="bold">Question obligatoire</span></li>
                    {% endif %}
                    {% if element.Question.eliminateQuestion %}
                <li><span class="bold">Question éliminatoire</span></li>
                    {% endif %}
                    {% if element.Question.charLimit %}
                <li><span class="bold">Limite de charactère : </span> {{element.Question.charLimit}}</li>
                    {% endif %}

                    {% if element.Question.antiPlagiat %}
                <li><span class="bold">Anti plagiat </span> </li>
                    {% endif %}

                    {% if element.timeLimit %}
                <li class="time_limit_{{element.id}}"><span class="bold">Temps de réponse : </span> {{element.timeLimit}}</li>
                    {% endif %}

                    {% if element.Question.questionTime %}
                <li><span class="bold">Temps de question : </span> {{element.Question.questionTime}}</li>
                    {% endif %}

                    {% if element.Question.responseTime %}
                <li><span class="bold">Temps de réponse : </span> {{element.Question.responseTime}}</li>
                    {% endif %}

                <div class="stop"></div>
            </ul>
        </div>
        {% endif %}
    </div>
</li>

