{# empty Twig template #}
<div class="grid_12">
<div class="border_table">
<table class="table-backend">
    <thead>
    <tr>
        <th>Nom de l'organisme</th>
        <th>Collaborateur</th>
        <th>Statut commercial</th>
        <th>Statut spécial</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for element in elements %}
    <tr class="">
        <td class="center">
            <a href="{{ path('bo_gestion_commercial_show',{'slug_ent':element.slug}) }}">{{ element.name }}</a>
        </td>
        <td class="center">
            {% if element.MakerAdministrator|length %}
                {{ element.MakerAdministrator|length }} Collaborateur(s)
             {% endif %}
            {% if element.MakerAdministrator|length %}
                <br>{{ element.MakerInvitationAdministrator|length }} Invité(s)
             {% endif %}
        </td>  
        <td>
                <div id="divcommercial_{{ element.id }}">
                    {% if element.status['commercial'] is defined %}
                        {% if element.status['commercial']==1 %}A lancer
                        {% elseif element.status['commercial']==2 %} Lancé
                        {% elseif element.status['commercial']==3 %}Peu intéressé
                        {% elseif element.status['commercial']==4 %}Intéressé
                        {% elseif element.status['commercial']==5 %}Intérêt confirmé
                        {% elseif element.status['commercial']==6 %}Inscrit
                        {% elseif element.status['commercial']==7 %}Client
                        {% elseif element.status['commercial']==8 %}Hors cible
                        {% elseif element.status['commercial']==9 %}Non intérressé
                        {% elseif element.status['commercial']==10 %}Barrage
                        {% endif %}
                    {% else %}
                        Non client 
                    {% endif %}
                    <a href="javascript:void(0)" onClick="afficheEdit({{ element.id }},'commercial');">edit</a>
                </div>
                <div id="formcommercial_{{ element.id }}" style="display: none;">
                    <select id="commercial_{{ element.id }}" name="commercial_{{ element.id }}">
                        {{ block('commercial') }}
                    </select>
                    <a href="javascript:void(0)" onClick="updateStatutEnt({{ element.id }},'commercial')">update</a>
                </div>
        </td>
        <td class="center">
            <div id="divspecial_{{ element.id }}">
                {% if element.status['special'] is defined %}
                    {% if element.status['special']==1 %}Vip
                    {% elseif element.status['special']==2 %} Standard
                    {% elseif element.status['special']==3 %}Prioritaire
                    {% endif %}
                {% else %}
                    Non spécifié
                {% endif %}
                <a href="javascript:void(0)" onClick="afficheEdit({{ element.id }},'special');">edit</a>
            </div>
            <div id="formspecial_{{ element.id }}" style="display: none;">
                <select id="special_{{ element.id }}" name="special_{{ element.id }}">
                    {{ block('special') }}
                </select>
                <a href="javascript:void(0)" onClick="updateStatutEnt({{ element.id }},'special')">update</a>
            </div>
        </td>    

  
        <td class="center">
            
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
</div>

{% block special %}
        <option value="1">VIP</option>
        <option value="2">Standard</option>
        <option value="3">Prioritaire</option>
{% endblock special %}
{% block commercial %}
        <option value="1">A lancer</option>
        <option value="2">Lancé</option>
        <option value="3">Peu intéressé</option>
        <option value="4">Intéressé</option>
        <option value="5">Intérêt confirmé</option>
        <option value="6">Inscrit</option>
        <option value="7">Client</option>
        <option value="8">Hors cible</option>
        <option value="9">Non intérressé</option>
        <option value="10">Barrage</option>
{% endblock commercial %}
<script>
    function afficheEdit(id,type){
        $('#div'+type+'_'+id).css('display', 'none');
        $('#form'+type+'_'+id).css('display', 'block');  
    }
    function updateStatutEnt(id,type){
        var iid=type+'_'+id;
        for(var i=(document.getElementById(iid).options.length-1);i>=0;i--)
        {
            if(document.getElementById(iid).options[i].selected)
            {
                var option = document.getElementById(iid).options[i].value;
            }
        }
        var ajxUrl="{{ path('bo_ajax_gestion_ent_update',{'id':'id','type':'type','option':'option'}) }}";
        ajxUrl=ajxUrl.replace('id',id);
        ajxUrl=ajxUrl.replace('type',type);
        ajxUrl=ajxUrl.replace('option',option);
        $.ajax({
            type:'POST',
            url: ajxUrl,
            success:function (msg) {
                if(msg.success){
                    location.reload();
                }
                
            }
        });
    }
</script>
