{# empty Twig template #}
<div class="grid_12">
<div class="border_table">
<table class="table-backend">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Collaborateur</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for element in elements %}
    <tr class="">
        <td class="center">
            <a href="{{ path ('bo_maker_show' , {'slug_ent':  element.slug  }) }}">{{ element.name }}</a>
        </td>
        <td class="center"> {{element.MakerAdministrator|length}} Collaborateur(s) </td>

                     
        <td class="center">
            <a href="{{ path ('bo_maker_edit' , {'slug_ent':  element.slug  }) }}">Modifier</a>
            &nbsp;&nbsp;&nbsp;<a href="{{ path('bo_maker_delete',{'id':  element.id}) }}" onclick="return confirm('Are you sure?');">Supprimer</a>
          
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
</div>