{% extends 'VMGeneralBundle:Back:layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block content %}
<div class="grid_8">
    <div class="block-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"> <h1>Feedback </h1></div>
                <div class="block_content">
                    <table cellspacing="5" cellpadding="5" width="100%" style="text-align:left;">
                        <tr>    
                            <th><p>#id</p></th>
                            <td><p>{{feedback.id}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>User</p></th>
                            <td><p>
                                {% if feedback.User.UserProfile is defined and feedback.User.UserProfile is not null%}
                                    {{ feedback.User.UserProfile.firstname }} 
                                {% elseif feedback.User is defined and feedback.User is not null %}
                                    {{ feedback.User.email }}
                                {% else %}
                                    {{ feedback.email }}
                                {% endif %}
                                </p>
                            </td>
                        </tr>
                        <tr>    
                            <th><p>Question</p></th>
                            <td><p>{{feedback.Question is defined and feedback.Question is not null?feedback.Question.id:''}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>Text</p></th>
                            <td><p>{{feedback.text|raw}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>Read</p></th>
                            <td><p>{{feedback.isRead?'Yes':'No'}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>Responsed</p></th>
                            <td><p>{{feedback.responsed?'Yes':'No'}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>Resolved</p></th>
                            <td><p>{{feedback.resolved?'Yes':'No'}}</p></td>
                        </tr>
                    </table>
                    <div id="feedbackComment" {% if feedback.textComment =='' %}style="display:none;"{% endif %}>	
                        <div class="clearfix commentPanel"> 
                            <div class="form_row">
                                    <div class="input-main grey">
                                    <div class="input-block">
                                        <div class="label"><label class="required" for="feedback_text">Comment</label></div>                                                
                                        <div id="listComment" {% if feedback.textComment =='' %} style="display:none;" {% endif %}>
                                            {{ feedback.textComment }}
                                            {% if feedback.textComment !='' %} <br><a href="javascript:void(0);" id="editComment">Modifier</a> {% endif %}
                                        </div>
                                        <div class="final_level" id="editPanel" style="display:none;">
                                            <div class="field">
                                                <textarea name="editFeedbackComment" id="editFeedbackComment">{{ feedback.textComment }}</textarea>
                                            </div>
                                            
                                            <div class="text_center button_save">
                                                <button class="btn btn-primary _20_imp" id="updateFeedback" type="submit">Modifier</button>
                                            </div> 
                                        </div>
                                        <div class="final_level" id="addPanel" {% if feedback.textComment !='' %}style="display:none;" {% endif %}>
                                            <div class="field">
                                                <textarea name="addFeedbackComment" id="addFeedbackComment"></textarea>
                                            </div>
                                            
                                            <div class="text_center button_save">
                                                <button class="btn btn-primary _40_imp" id="submitFeedback" type="submit">Marquer Comme R&eacute;solu</button>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>                                   
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid_4">
    <div class="block-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"> <h1>Actions</h1></div>
                <div class="block_content">
                    <ul>
                        {% if feedback.resolved is null or feedback.resolved==0 %}
                            <li><p><a href="{{ path ('bo_feedback_resolve' , {'id':  feedback.id  }) }}">Resolved</a></p></li>
                        {% endif %}
                        <li><p><a href="{{ path ('bo_feedback_edit' , {'id':  feedback.id  }) }}">Modifier</a></p></li>
                        <li><p><a href="{{ path('bo_feedback_delete',{'id':  feedback.id}) }}" onclick="return confirm('Are you sure?');">Supprimer</a></p></li>
                        <li><p><a href="{{ path ('bo_feedbacks')}}">All feedbacks</a></p></li>
                        <li><p><a href="{{ path('bo_feedback_status',{'id':feedback.id,'status':'unread'}) }}">Marquer Comme Non-Lu</a></p></li>
                        <li><p><a href="javascript:void(0);" id="leaveYourComment">Marquer Comme R&eacute;solu</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#submitFeedback').click(function(){
            post_request('add');
        }); 
        $('#updateFeedback').click(function(){
            post_request('update');
        });         
        $('#leaveYourComment').click(function(){
            $('#feedbackComment').show();
        });

        $('#listComment').click(function(){
                if($('#listComment').css('display')=="block"){
                    $('#listComment').hide();
                    $('#addPanel').hide();
                    $('#editPanel').show();
                }else{
                    $.ajax({
                        type: "post",
                        url: '{{ path('bo_feedback_show_comment',{'id':feedback.id}) }}',
                        cache: false,
                        success: function(data) {
                            if(data){
                              $('.commentInputRight').html(data);
                              $('#editFeedbackComment').html(data);
                              $('#listComment').html(data+'<br><a href="javascript:void(0);" id="editComment">Modifier</a>');
                              $('#editPanel').hide();
                              $('#listComment').show();
                             return false;				  
                            }else{
                               $('#feedbackComment').hide();
                               $('.leaveYourComment').html('');
                            } 
                        }
                    }); 
                }

        });

        var post_request =function(type){
            $.ajax({
                type: "post",
                url: '{{ path('bo_feedback_add_comment',{'id':feedback.id}) }}',
                data: {'comment':(type=='add'?$('#addFeedbackComment').val():$('#editFeedbackComment').val())},
                cache: false,
                success: function(data) {
                    if(type=='add' ){
                        if(data=='ok'){
                          alert('comment added successfully');
                          $('#addPanel').hide();
                          $('#listComment').trigger('click');
                                return false;   
                        }else{
                           alert('comment not added');
                        } 
                    }else{
                        if(data=='ok'){
                          alert('comment updated successfully');
                          $('#listComment').trigger('click');
                                return false;				  
                        }else{
                           alert('comment not updated');
                        }
                    }  
                }
            }); 
        };
    });
</script>
{% endblock %}