{% trans_default_domain 'FOSUserBundle' %}

{{ app.request.attributes.get('_route') }}
<div class="content _70">
    <div class="grid _100 left">
        <div class="block_border">
            <div class="block_design">
                <div class="block_header"><h1>Enregistrez vous</h1></div>
                <div class=" block_content">
                <form  action="{{ path('user_register') }}" novalidate  {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    <div class="line">
                    {{errors|raw}}
                    {{ form_widget(form) }}
                        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                </form>
                </div>
           </div>
        </div>
    </div>
</div>