{% extends 'SOBackBundle::layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="grid_8">
        <div class="block_border">
            <div class="block_design">
                <div class="block_header"><h1>Show school type</h1></div>
                <div class="block_content no_padding">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="text-align:left; font-weight:bold;">Nom</td>
                                <td class="center">{{ schoolType.name }}</td>
                            </tr> 

                            <tr>
                                <td style="text-align:left; font-weight:bold;">Description Courte</td>
                                <td class="center">{{ schoolType.textIntroduction }}</td>
                            </tr> 

                            <tr>
                                <td style="text-align:left; font-weight:bold;">Description</td>
                                <td class="center">{{ schoolType.textDescription }}</td>
                            </tr> 

                        </tbody>
                     </table>
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="block_border">
                <div class="block_design sidebar">
                    <div class="block_header"><h1>Actions</h1></div>
                    <div class="block_content no_padding">
                        <ul class="list no_margin">                            
                            <li><a href="{{ path('bo_school_type_edit',{'id':schoolType.id}) }}">Modifier</a> </li>
                            <li><a href="{{ path('bo_school_type_remove',{'id':schoolType.id}) }}" onclick="return confirm('Are you sure?');">Supprimer</a>  </li>                            
                            <li><a href="{{ path('bo_school_type_index') }}">All school type</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}