
            
    <div class="block_content">
       {{ form_row(form.text) }}
       {{ form_row(form.std_question_type) }}
       {{ form_row(form.std_questionnaire_type) }}

   
        {{ form_row(form._token) }}
        <div class="text_center button_save">
           {{ form_widget(form.save ) }}
        </div>
    </div>
            
