{# empty Twig template #}
<div class="grid_12">
    <div class="border_table">
        <table class="table-backend">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Maker</th>
                <th>Advert type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for element in elements %}
            <tr class="">
                <td class="center">
                    <a href="{{ path ('bo_advert_show' , {'slug_advert':  element.slug  }) }}">{{ element.name }}</a>
                </td>
                <td class="center"> {{ element.Maker.name is defined?element.Maker.name:''}} </td>
                <td class="center"> {{element.advertType==1?'recrutement':'formation'}} </td>


                <td class="center">
                    <a href="{{ path ('bo_advert_edit' , {'slug_advert':  element.slug,'advert_type':(element.advertType==1?'recrutement':'formation')  }) }}">Modifier</a>&nbsp;&nbsp;&nbsp;
                    <a href="{{ path('bo_advert_delete',{'slug_advert':  element.slug,'advert_type':(element.advertType==1?'recrutement':'formation')}) }}" onclick="return confirm('Are you sure?');">Supprimer</a>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>