{% extends 'VMGeneralBundle:Back:layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block content %}
<div class="grid_8">
    <div class="block-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"> <h1>Advert : {{advert.name}}</h1></div>
                <div class="block_content">
                    <table cellspacing="5" cellpadding="5" width="100%" style="text-align:left;">
                        <tr>    
                            <th><p>Nom</p></th>
                            <td><p>{{advert.name}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>Maker</p></th>
                            <td><p>{{ advert.Maker.name is defined?advert.Maker.name:''}} </p></td>
                        </tr>
                        <tr>    
                            <th><p>Text introduction</p></th>
                            <td><p>{{advert.textIntroduction|raw}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>Text descriptionn</p></th>
                            <td><p>{{advert.textDescriptionn|raw}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>Start date</p></th>
                            <td><p>{{ advert.startDate is defined and advert.startDate is not null?advert.startDate|date:''}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>End date</p></th>
                            <td><p>{{advert.endDate}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>Period</p></th>
                            <td><p>{{advert.period}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>{{ (advert.advertType==1?'Type de contrat':'Type de formation') }}</p></th>
                            <td><p>{{advert.type}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>Advert ype</p></th>
                            <td><p>{{advert.advertType==1?'recrutement':'formation'}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>{{ (advert.advertType==1?'Salaire':'Cout de la formation') }}</p></th>
                            <td><p>{{advert.wageCost}}</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid_4">
    <div class="block-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"> <h1>Actions</h1></div>
                <div class="block_content">
                    <ul>
                        <li><p><a href="{{ path ('bo_advert_edit' , {'slug_advert':  advert.slug,'advert_type':(advert.advertType==1?'recrutement':'formation')  }) }}">Modifier</a></p></li>
                        <li><p><a href="{{ path('bo_advert_delete',{'slug_advert':  advert.slug,'advert_type':(advert.advertType==1?'recrutement':'formation')}) }}" onclick="return confirm('Are you sure?');">Supprimer</a></p></li>
                        <li><p><a href="{{ path ('bo_adverts')}}">All adverts</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}