<div class="grid_12">
    <div class="block-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_content">
                   {{ form_row(form.name) }}
                   {{ form_row(form.subject) }}
                   {{ form_row(form.description) }}
                   {{ form_row(form.MailerCategory) }}
                   {{ form_row(form.template) }}
                    {{ form_row(form.content) }}

                    {{ form_row(form._token) }}
                    <div class="text_center button_save">
                       {{ form_widget(form.save ) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>