<div class="grid_12">
<div class="border_table">
<table class="table-backend">
    <thead>
    <tr>
        <th style="text-align:left; font-weight:bold;">Nom</th>
        <th style="text-align:left; font-weight:bold;">Parent</th>
        <th style="text-align:left; font-weight:bold;">Statut</th>
        <th style="text-align:left; font-weight:bold;">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for element in elements %}
    <tr class="gradeX">
        <td class="center">
            <a href="{{ path ('bo_category_show' , {'id':  element.id  }) }}">{{ element.name }}</a>
        </td>
        <td class="center">
            {% if element.parent %}
            {{ element.parent.name }}
            {% else %}
            Main Category
            {% endif %}
        </td>
        <td>
            {% if element.approbation==1 and element.published==1 %}
            Publi&eacute;
            {% elseif element.approbation==1 and element.published!=1 %}
            En attente
            {% elseif (element.approbation==9 and element.published==9) or (element.approbation==8 and element.published==8) %}
            En cours de r&eacute;daction
            {% else %}
            Non Publi&eacute;
            {% endif %}
        </td>

        <td class="center">
            <a href="{{ path ('bo_category_edit' , {'id':  element.id  }) }}">Modifier</a>
            &nbsp;&nbsp;&nbsp;<a href="{{ path('bo_category_child_new',{'cat_id':  element.id}) }}">Add child</a>
            &nbsp;&nbsp;&nbsp;<a href="{{ path('bo_category_delete',{'id':  element.id}) }}"
                                 onclick="return confirm('Are you sure?');">Supprimer</a>
            &nbsp;&nbsp;&nbsp;
            {% if element.approbation==1 and element.published==1 %}
            <a href="{{ path('bo_category_status',{'id':  element.id,'type':'unpublish'}) }}">Non
                Publi&eacute;</a>
            {% else %}
            <a href="{{ path('bo_category_status',{'id':  element.id,'type':'publish'}) }}">Enregistrer et
                publier</a>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
</div>

