{% spaceless %}
 {% if wo_breadcrumbs()|length %}
     <ul id="{{ listId }}" class="{{ listClass }}" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      {% if env is defined %}
       <li>
        {% if env == 'mo'%}
         <a href="{{path('mo_dashboard')}}">Home</a>
        {% elseif env == 'bo' %}
         <a href="{{path('bo_dashboard')}}">Home</a>
        {% elseif env == 'fo' %}
         <a href="{{path('fo_homepage')}}">Home</a>
        {% endif %}
        {% if wo_breadcrumbs()|length and separator is not null %}
         <span class='{{ separatorClass }}'>{{ separator }}</span>
        {% endif %}
       </li>
      {% endif %}
      {% for b in breadcrumbs %}
        <li{% if itemClass is defined and itemClass|length %} class="{{ itemClass }}"{% endif %}{% if not(loop.first) %} itemprop="child"{% endif %}>
          {% if b.url and not loop.last %}<a href="{{ b.url }}" itemprop="url"{% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>{% endif %}
          <span itemprop="title">{{- b.text | trans(b.translationParameters, translation_domain, locale) -}}</span>
          {% if b.url and not loop.last %}</a>{% endif %}
          {% if separator is not null and not loop.last %}
            <span class='{{ separatorClass }}'>{{ separator }}</span>
        {% endif %}
      </li>
      {% endfor %}
     </ul>
 {% endif %}
{% endspaceless %}
