<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Scoring-Line{% endblock %}</title>
    {% stylesheets 'bundles/vmgeneral/less/middle.less' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets 'bundles/vmgeneral/less/jquery-ui-1.8.16.custom.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block javascripts %}
        <script src="{{ asset('bundles/vmgeneral/js/jquery-1.9.1.js') }}"></script>
        <script src="{{ asset('bundles/vmgeneral/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <script src="{{ asset('bundles/vmgeneral/js/ajaxUpload.js') }}"></script>
        <script src="{{ asset('bundles/vmgeneral/js/tiny_mce/tiny_mce.js') }}"></script>
       {% set allowRouteArray = ['mo_questionnaire_process' ,'mo_questionnaire_elements'] %}
       {% if app.request.get('_route') in allowRouteArray  %}
           
            <script type="text/javascript" src="{{ asset('bundles/vmgeneral/js/jwplayer/jwplayer.js') }}" ></script>
            <script type="text/javascript">jwplayer.key="5P9AYiVQwKb+96ImG+hfhjDFsPxpMFvEy2kE3g==";</script>
       {% endif %}
            
    {% endblock %}
</head>
<body>

<header>
    <div class="logo"><a href="{{ path('mo_dashboard') }}"><img src="{{ asset('bundles/vmgeneral/images/logo_front.png') }}" alt="VM"/></a></div>
    {% include 'VMGeneralBundle:Middle:_menu.html.twig' %}
    <div class="stop"></div>
</header>
{% if app.request.get('slug_ent')%}
    <nav id="rolling-nav">
        <ul>
            <li><a data-clone="{{'mo.general.menu.questionnaire'|trans }}"
                   href="{{ path('mo_questionnaires',{'slug_ent':app.request.get('slug_ent')}) }}">{{'mo.general.menu.questionnaire'|trans }}</a>
            </li>
            <li><a data-clone="{{'mo.general.menu.advert'|trans }}"
                   href="{{ path('mo_adverts',{'slug_ent':app.request.get('slug_ent')}) }}">{{'mo.general.menu.advert'|trans }}</a>
            </li>
            <li><a data-clone="{{'mo.general.menu.collaborator'|trans }}"
                   href="{{ path('mo_collaborators',{'slug_ent':app.request.get('slug_ent')}) }}">{{'mo.general.menu.collaborator'|trans }}</a>
            </li>
        </ul>
    </nav>
{% endif %}
<div id="wrap">
    {# FLASH BAG MANAGEMENT #}
    <div id="content">
        {{ wo_render_breadcrumbs({'env':'mo'}) }}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="grid_12">
                <div class="flash-notice"> {{ flashMessage|raw }} <a class="right twelvepx flash">Fermer</a></div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="grid_12">
                <div class="flash-success"> {{ flashMessage|raw }}<a class="right twelvepx flash">Fermer</a></div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="grid_12">
                <div class="flash-error"> {{ flashMessage|raw }} <a class="right twelvepx flash">Fermer</a></div>
            </div>
        {% endfor %}

        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
    </div>
</div>
<div class="stop"></div>
{% if app.environment == 'dev' %}
    <footer width="100%" style="text-align:center;padding-top:10px; font-size:12px; ">
        <span>Changer de Langue</span>
        <a href="{{ path('change_language', {'locale': 'fr_FR'}) }}"> Français </a> -
        <a href="{{ path('change_language', {'locale': 'en_EN'}) }}"> Anglais </a>

        {% if app.request.get('slug_ent') %}
            <a href="{{ path('mo_feedback_new',{'slug_ent':app.request.get('slug_ent')}) }}" style="color:#FFF;">Feedback</a>
        {% endif %}
    </footer>
{% endif %}
{% if app.environment != 'dev' %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47178406-1', 'scoring-line.com');
      ga('send', 'pageview');

    </script>
{% endif %}
</body>
</html>

<script>
    $(".flash").click(function () {
        $(this).parent().animate({
            opacity:0
        }, 500, function () {
            $(this).css('display', 'none')
        });
    });
    $("").click(function () {
        $().slideDown('fast');
    });
</script>
