<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Zoombi</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/SOgeneral/css/icomoon.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/SOgeneral/css/superfish.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/SOgeneral/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/SOgeneral/css/responsive.css') }}" />
        <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css">
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="{{ asset('bundles/SOgeneral/js/PIE_IE678.js') }}"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
    </head>
    <body class="kp-home">
        <header id="header-page">
            <div class="top-header">
                <div class="container">
                    <div id="logo">
                        <a href="index.html" ><img src="{{ asset('bundles/SOgeneral/images/logo.png') }}" alt="logo"></a>
                    </div>
                    <nav class="pull-right">
                        <ul class="sf-menu" id="main-menu">
                            <li class="current-item-menu">
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="blog.html">Page</a>
                                <ul>
                                    <li><a href="blog.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-1-sidebar.html">Blog 1 sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="element.html">Element</a></li>
                                    <li><a href="single.html">Single</a>
                                        <ul>
                                            <li><a href="single.html">Single</a></li>
                                            <li><a href="single-1-sidebar.html">Single 1 sidebar</a></li>
                                            <li><a href="single-video.html">Single video</a></li>
                                            <li><a href="single-audio.html">Single audio</a></li>
                                            <li><a href="single-gallery.html">Single gallery</a></li>
                                            <li><a href="single-soundcloud.html">Single soundcloud</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="404.html">Page 404</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Fashion</a>
                            </li>
                            <li>
                                <a href="#">Movie</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li> 
                        </ul>
                        <div id="mobile-menu">
                            <span>Menu</span>
                            <ul id="toggle-view-menu">
                                <li class="clearfix">
                                    <h3><a href="#">Home</a></h3>
                                    <span>+</span>
                                    <div class="clearfix"></div>
                                    <div class="menu-panel clearfix">
                                        <ul>
                                            <li><a href="index.html">Index style 1</a></li>
                                            <li><a href="index-2.html">Index style 2</a></li>
                                            <li><a href="index-3.html">Index style 3</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <h3><a href="#">Pages</a></h3>
                                    <span>+</span>
                                    <div class="clearfix"></div>                    
                                    <div class="menu-panel clearfix">
                                        <ul>
                                            <li><a href="about.html">About page</a></li>
                                            <li><a href="elements.html">Elements page</a></li>
                                            <li><a href="404.html">404 page</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <h3><a href="#">Portfolio</a></h3>
                                    <span>+</span>
                                    <div class="clearfix"></div>                    
                                    <div class="menu-panel clearfix">
                                        <ul>
                                            <li><a href="portfolio-3col.html">Portfolio 3 column</a></li>
                                            <li><a href="portfolio-2col.html">Portfolio 2 column</a></li>
                                            <li><a href="portfolio-1col.html">Portfolio 1 column</a></li>
                                            <li>
                                                <a href="#">Portfolio detail</a>
                                                <ul>
                                                    <li><a href="portfolio-detail.html">Portfolio single</a></li>
                                                    <li><a href="portfolio-audio.html">Portfolio audio</a></li>
                                                    <li><a href="portfolio-gallery.html">Portfolio gallery</a></li>
                                                    <li><a href="portfolio-video.html">Portfolio video</a></li>
                                                    <li><a href="portfolio-soundcloud.html">Portfolio soundcloud</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <h3><a href="#">Blog</a></h3>
                                    <span>+</span>
                                    <div class="clearfix"></div>                    
                                    <div class="menu-panel clearfix">
                                        <ul>
                                            <li>
                                                <a href="#">Blog style 1</a>
                                                <ul>
                                                    <li><a href="blog-1-left-sidebar.html">Width left sidebar</a></li>
                                                    <li><a href="blog-1-right-sidebar.html">Width right sidebar</a></li>
                                                    <li><a href="blog-1-two-sidebar.html">Width two sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="blog-2.html">Blog style 2</a></li>
                                            <li>
                                                <a href="#">Blog style 3</a>
                                                <ul>
                                                    <li><a href="blog-3-one-sidebar.html">Width one sidebar</a></li>
                                                    <li><a href="blog-3-two-sidebar.html">Width two sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Blog single</a>
                                                <ul>
                                                    <li><a href="single-1.html">Single style 1</a></li>
                                                    <li><a href="single-2.html">Single style 2</a></li>
                                                    <li><a href="single-3.html">Single style 3</a></li>
                                                    <li><a href="single-4.html">Single style 4</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix"><h3><a href="contact.html">Contact</a></h3></li>                   
                            </ul><!--toggle-view-menu-->
                        </div><!--mobile-menu-->
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <!-- container -->
            </div>
            <!-- top-header -->
            <div class="bottom-header">
                <div class="container">
                    <div class="top-news pull-left">
                        <span>Dernières news</span>
                        <div class="list_carousel">
                            <ul class="carousel-1">
                                <li><a href="#">Site en cours de construction: 30/100</a></li>
                                <li><a href="#">Sorties dvd: “Bond Girls” Through The Years...</a></li>
                                <li><a href="#">Sorties dvd: “Bond Girls” Through The Years...</a></li>
                                <li><a href="#">Sorties dvd: “Bond Girls” Through The Years...</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <!-- list_carousel -->
                    </div>
                    <!-- top news -->
                    <div class="search-box pull-right">
                        <form action="/" method="post">
                            <div class="form-group">					
                                <input type="text"  name="search-text" class="form-control" onBlur="if (this.value == '')
                                                    this.value = this.defaultValue;" onFocus="if (this.value == this.defaultValue)
                                                                this.value = '';" value="Search..." >
                            </div>
                            <button type="submit"><span class="icon-search"></span></button>
                        </form>
                    </div>
                </div>
                <!-- container -->
            </div>
            <!-- bottom-header -->
        </header>
        <!-- header-page -->
        <div id="content" class="container clearfix">
    {% block content %}
    {% block fos_user_content %}{% endblock %}
    {% endblock %}
        </div>
        <!-- container -->
        <div id="bottom-sidebar">
            <div class="container clearfix">
                <div class="col-area-5">
                    <a href="#" class="bottom-logo"><img src="images/logo.png" alt=""></a>
                    <div class="widget widget-text">
                        <p>Kopasoft  is a clean, powerful and responsive wordpress magazine / news theme.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing</p>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</p>
                    </div>
                    <!-- widget-text -->
                </div>
                <!-- col-area-5 -->
                <div class="col-area-6">
                    <div class="widget widget-flickr">
                        <h2 class="widget-title">photo on flickr</h2>
                        <div class="widget-content">
                            <div class="flickr-wrap clearfix" id="flickr-feed-1">
                                <ul class="clearfix list-unstyled"></ul>
                            </div><!--flickr-wrap-->
                        </div>
                        <!-- widget-content -->
                    </div>
                    <!-- widget-flickr -->
                </div>
                <!-- col-area-6 -->
                <div class="col-area-7">
                    <div class="widget widget_categories">
                        <h2 class="widget-title">categories</h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Business(10)</a>
                            </li>
                            <li>
                                <a href="#">Health(10)</a>
                            </li>
                            <li>
                                <a href="#">Movies(10)</a>
                            </li>
                            <li>
                                <a href="#">Graphic Design(10)</a>
                            </li>
                            <li>
                                <a href="#">Politics(10)</a>
                            </li>
                            <li>
                                <a href="#">Technology(10)</a>
                            </li>
                        </ul>

                    </div>
                    <!-- widget-cat -->
                </div>
                <!-- col-area-7 -->
                <div class="col-area-8">
                    <div class="widget widget_pages">
                        <h2 class="widget-title">page</h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Archive</a>
                            </li>
                            <li>
                                <a href="#">Advertise With Us</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">Log In</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                    <!-- widget-cat -->
                </div>
                <!-- col-area-8 -->
                <div class="col-area-9">
                    <div class="widget widget-contact">
                        <h2 class="widget-title">contact us</h2>
                        <div class="widget-content">
                            <span>Envanto headquaters</span>
                            <ul class="list-unstyled">
                                <li class="clearfix"><span class="icon-location pull-left"></span> Elizabeth St, Melbourne, Victoria 3000 Australi</li>
                                <li class="clearfix"><span class="icon-phone pull-left"></span> +61 (0) 3 8376 6286</li>
                                <li class="clearfix"><span class="icon-mail pull-left"></span><a href="mailto:kopasof@gmail.com">mail@yoursite.com</a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- widget contact -->
                </div>
                <!-- col-area-9 -->
            </div>
            <!-- container -->
        </div>
        <!-- bottom-sidebar -->
        <footer id="page-footer">
            <div class="container">
                <p class="copy-right pull-left"> Copyright 2013 - <span>Kopasoft</span>.  All Rights Reserved</p>
                <ul class="pull-right list-inline">
                    <li><a href="#" class="icon-facebook"></a></li>
                    <li><a href="#" class="icon-flickr"></a></li>
                    <li><a href="#" class="icon-vimeo"></a></li>
                    <li><a href="#" class="icon-dribbble"></a></li>
                    <li><a href="#" class="icon-twitter"></a></li>
                </ul>

            </div>
        </footer>
        <!-- page footer -->
        <span class="back-to-top icon-arrow-up"></span>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="{{ asset('bundles/SOgeneral/js/superfish.js') }}"></script>
        <script src="{{ asset('bundles/SOgeneral/js/jquery.carousel-6.2.1.js') }}"></script>
        <script src="{{ asset('bundles/SOgeneral/js/jflickrfeed.min.js') }}"></script>
        <script src="{{ asset('bundles/SOgeneral/js/tweetable.jquery.js') }}"></script>
        <script src="{{ asset('bundles/SOgeneral/js/jquery.timeago.js') }}"></script>
        <script src="{{ asset('bundles/SOgeneral/js/jquery.form.js') }}"></script>
        <script src="{{ asset('bundles/SOgeneral/js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('bundles/SOgeneral/js/imagesloaded.js') }}"></script>
        <script src="{{ asset('bundles/SOgeneral/js/custom.js') }}"></script>
    </body>
</html>