<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- required theme styles -->
        <link rel="stylesheet" href="{{ asset('bundles/SOgeneral/css/style.css') }}" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/SOgeneral/css/style-css3.css') }}" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/SOgeneral/css/style-gravity-forms.css') }}" type="text/css" media="screen">
        <title>{% block title %}MovieFinder{% endblock %}</title>
        <!-- custom theme styles -->
        <style type="text/css" media="screen">
            body {
            }

            li.date, #footer h3, #footer p, #sidebar h3, #sidebar p, .cat-post-content, blockquote, .widget {
            }

            #full-width-ad, #posts, #posts-page, #paginate, .gallery-item h2, li.date, li.categories, .post-details h2, #comments-meta, #comments, #author, #email, #url, #comment, #sidebar, #footer-content {
            }

            a:link, a:visited, li.comments a:link, li.comments a:visited, #footer a:link, #footer a:visited {
            }

            a:hover {
            }
        </style>
        <link rel="shortcut icon" href=./images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="./images/favicon.ico">
        <meta name="robots" content="noindex,nofollow">
        <link rel="stylesheet" id="fancybox-css" href="{{ asset('bundles/SOgeneral/css/style(1).css') }}" type="text/css" media="all">
        <script type="text/javascript" src="{{ asset('bundles/SOgeneral/js/jquery.js') }}"></script><style type="text/css"></style><style type="text/css"></style>
        <script type="text/javascript" src="{{ asset('bundles/SOgeneral/js/jquery-migrate.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/SOgeneral/js/jquery.superfish.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/SOgeneral/js/jquery.easing.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/SOgeneral/js/jquery.coda.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/SOgeneral/js/jquery.float.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/SOgeneral/js/jquery.equal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/SOgeneral/js/fancybox.min.js') }}"></script>
    </head>
    <body class="home blog" style="">
        <div id="header">
            <div id="header-inside">
                <div id="header-left">
                </div> <!-- header-left -->
                <div id="header-right">
                    <div id="site-search">
                        <div id="search">
                            <form method="get" id="search-form" action="">
                                <input type="text" name="s" id="s">
                                <input type="submit" id="search-submit" value="">
                            </form>
                        </div> <!-- search -->				
                    </div> <!-- site-search -->
                </div> <!-- header-right -->
            </div> <!-- header-inside -->
        </div> <!-- header -->	
        <div id="navigation">
            <div class="navigation-inside navigation-video">
                <div class="menu-header">
                    <ul id="menu-home" class="menu sf-js-enabled">
                        <li id="menu-item-484" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-484">
                            <a href="#">Home</a>
                        </li>
                        <li id="menu-item-510" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-510">
                            <a href="#">Sample Videos</a>
                            <ul class="sub-menu" style="display: none; visibility: hidden;">
                                <li id="menu-item-511" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-511">
                                    <a href="#">More Videos</a>
                                </li>
                                <li id="menu-item-512" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-512">
                                    <a href="#">Sub Videos</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-513" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-513">
                            <a href="#">Sample Posts</a>
                            <ul class="sub-menu" style="display: none; visibility: hidden;">
                                <li id="menu-item-514" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-514">
                                    <a href="#">Blog</a></li>
                                <li id="menu-item-515" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-515">
                                    <a href="#">Featured</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-516" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-516">
                            <a href="#">Sample Category</a>
                            <ul class="sub-menu" style="display: none; visibility: hidden;">
                                <li id="menu-item-517" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-517">
                                    <a href="#">Sub Category</a>
                                    <ul class="sub-menu" style="display: none; visibility: hidden;">
                                        <li id="menu-item-518" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-518">
                                            <a href="#">Sub Sub Category</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-519" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-519">
                            <a href="#">Another Category</a>
                        </li>
                        <li id="menu-item-520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-520">
                            <a href="#">Sample Page</a>
                            <ul class="sub-menu" style="display: none; visibility: hidden;">
                                <li id="menu-item-521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-521">
                                    <a href="#">Sample Sub Page</a>
                                </li>
                                <li id="menu-item-522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-522">
                                    <a href="#">Full Width Page</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-486" class="subscribe menu-item menu-item-type-custom menu-item-object-custom menu-item-486">
                            <a href="#">Subscribe</a>
                        </li>
                        <li id="menu-item-485" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-485">
                            <a href="#">Twitter</a>
                        </li>
                    </ul>
                </div>		
            </div> <!-- navigation-inside -->
        </div>  <!-- navigation -->
        <div id="content">
            <div id="content-inside">
                {% block content %}
                {% block fos_user_content %}{% endblock %}
                {% endblock %}
            </div>
        </div>
        <footer>
        </footer>
    </body>
</html>
