<div class="grid_12">
    <div class="border_table">
<table class="table-backend">
    <thead>
    <tr>
        <th style="text-align:left; font-weight:bold;">#Id</th>
        <th style="text-align:left; font-weight:bold;">Nom</th>
        <th style="text-align:left; font-weight:bold;">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for element in elements %}
    <tr class="gradeX">
        <td>{{ element.id }}</td>
        <td class="center">
            <a href="{{ path ('bo_type_questionnaire_element_show' , {'id':  element.id  }) }}">{{ element.name }}</a>
        </td>

        <td class="center">
            <a href="{{ path ('bo_type_questionnaire_element_edit' , {'id':  element.id  }) }}">Modifier</a>&nbsp;&nbsp;&nbsp;
            <a href="{{ path('bo_type_questionnaire_element_delete',{'id':  element.id}) }}" onclick="return confirm('Are you sure?');">Supprimer</a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
        </div>
</div>