{# empty Twig template #}
    {# CSS CHANGE, UPDATE, CANCEL CLASS #}
        <style>
            .change, .cancel{text-decoration:underline; color:red;font-size:11px;}
            .update{text-decoration:underline; color:green;font-size:11px; font-weight:bold;}
        </style>
    {# CSS CHANGE, UPDATE, CANCEL CLASS #}
<div class="grid_12">
<div class="border_table">
<table class="table-backend">
    <thead>
    <tr>
        <th>#Id</th>
        <th>Email</th>
        <th>Maker</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    {% for element in elements %}
    <tr class="">
        <td>{{ element.id }}</td>
        <td class="center">{{ element.email }}</td>
        <td class="center"><a href="{{ path('bo_maker_show',{'slug_ent':element.Maker.slug}) }}">{{ element.Maker.name }}</a></td>
        <td class="center roles">{{element.roles|join(', ')}} </td>
     </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
</div>