<div id="div_config" style="position: absolute;width: 300px;background-color: white;border: solid 1px lightgray;margin-top: 40px;margin-left:-177px; z-index:10; padding: 10px">
    <div class="input-main grey">
        <div class="arrow up"></div>
        <form id="form_config">
            <div class="input-block">
                <div class="label">
                    <label >Temps de réponse (en sec.)</label>
                </div>
                <div class="field">
                    {% if element.timeLimit is empty %}
                        <input type="checkbox" onclick="$('#time_limit').slideToggle('fast');" id="is_time_limit" name="is_time_limit" value="1">
                    {% endif %}
                    <input type="number" class="_60_imp left" data-id="{{ element.id }}" onblur="saveData('{{ link }}', this)" data-type="time_limit" id="time_limit" name="time_limit" style="{{ (element.timeLimit is empty) ? 'display: none;' : '' }}" maxlength="255" value="{{ (element.timeLimit is defined) ? element.timeLimit : '' }}">
                    <div class="error">
                    </div>
                    <button onClick="event.preventDefault();saveData('{{ link }}', $('#time_limit'))" class="btn_principal left">Ajouter</button>
                </div>
            </div>
        </form>
    </div>
</div>