<div class="grid_12">
    <div class="block-main">
        <div class="block_border ">
            <div class="block_design">
                <div class="block_header"><h1>Questionaire Invitation</h1></div>
                <div class="block_content">
                    {% if env == 'mo' %}
                        <div class="grid_3">
                            {% include 'VMQuestionnaireBundle:Form:questionnaire_form_menu.html.twig' with {'questionnaire': questionnaire} %}
                        </div>
                    {% endif %}
                    <div class="grid_9">
                        {% if success_msg is defined  and success_msg !=''  %}
                        {{ success_msg }}
                        {% endif %}
                         <form name="" novalidate action="{{ path(env~'_questionnaire_invitation',route) }}" method="post" onsubmit="return checkForm();">
                            {% if form_data is defined  and form_data !='' %}
                                {% if form_data.errors.error_msg is defined and form_data.errors.error_msg !='' %}
                                    <div class="input-main"><div class="error">{{form_data.errors.error_msg}}</div></div>
                                {% endif%}
                            {% for email in form_data.emails%}
                                <div class="form_row" id="row_{{ loop.index }}">
                                    <div class="input-main grey">
                                        <div class="input-block">
                                            <div class="label"><label class="required">Email </label><span
                                                    class="required_red">*</span>
                                                    {% if loop.index>1 %}
                                                        <a href="javascript:void(0);"
                                                            style="padding-left:10px;font-size:10px;color:red;"
                                                            onclick="if(confirm('Are you sure for remove this row')){$('#row_{{ loop.index }}').remove();};return false;">Remove</a>
                                                     {% endif %}
                                            </div>
                                            <div class="field">
                                                <input type="text" required="required" name="email[]"
                                                       id="email_{{ loop.index }}" value="{{ email }}">

                                                <div class="error">{{ form_data.errors[loop.index-1] is defined?form_data.errors[loop.index-1]:'' }}</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% else %}
                            <div class="form_row" id="row_1">
                                <div class="input-main grey">
                                    <div class="input-block">
                                        <div class="label"><label class="required">Email </label><span
                                                class="required_red">*</span></div>
                                        <div class="field">
                                            <input type="text" required="required" name="email[]" id="email_1">

                                            <div class="error"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <a href="" onclick="return addEmail();">Ajouter email</a>

                            <div class="text_center button_save">
                                <input type="submit" class="btn_principal center" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addEmail() {
        var lngth = $('input:text[name^="email[]"]').length;
        lngth++;
        $('#' + $('div.form_row:last').attr('id')).after('<div class="form_row" id="row_' + lngth + '"><div class="input-main grey"><div class="input-block"><div class="label"><label class="required">Email </label><span class="required_red">*</span><a href="javascript:void(0);" style="padding-left:10px;font-size:10px;color:red;" onclick="if(confirm(\'Are you sure for remove this row\')){$(\'#row_' + lngth + '\').remove();};return false;">Remove</a></div><div class="field"><input type="text" required="required" name="email[]" id="email_' + lngth + '"><div class="error"></div></div></div></div></div>');
        return false;
    }
    function checkForm() {
        var rtn = true;
        /*$('input:text[name^="email[]"]').each(function(){
         var idd = $(this).parents('.form_row').attr('id');
         if($(this).val()==''){  $('div#'+idd+' .error').html('Please enter email'); rtn = false;}
         else{ if(!IsEmail($(this).val())){ $('div#'+idd+' .error').html('Please enter valid email'); rtn = false;}else{   $('div#'+idd+' .error').html('');  }}
         });*/
        return rtn;
    }
    function IsEmail(email) {
        var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (!regex.test(email)) {
            return false;
        } else {
            return true;
        }
    }
</script>
