{% set route = app.request.attributes.get('_route')| slice(3) %}
{% set location = route %}

{% set arrayFormRoute = ['questionnaire_edit', 'questionnaire_new', 'questionnaire_update', 'questionnaire_create'] %}
{% set arrayPreviewRoute = ['questionnaire_preview_show', 'questionnaire_process', 'questionnaire_success'] %}
{% set arrayCreationRoute = arrayFormRoute|merge(['questionnaire_elements', 'questionnaire_preview_show']) %}
{% set arrayCreationRoute = arrayCreationRoute|merge(arrayPreviewRoute) %}

<div class="block-main action">
    <div class="block-simple">
        <div class="block_design">
            <div class="block_content">
                <ul>
                   {% if questionnaire.id %}
                    <li>
                        <a href="{{ questionnaire.QuestionnaireElement | length > 0 ? path ('bo_questionnaire_elements' , {'slug_quest':questionnaire.slug  }) : path ('bo_questionnaire_edit' , {'slug_quest':questionnaire.slug  }) }}">
                            <div class="img edit"></div>Modifier
                               {% if questionnaire.QuestionnaireElement | length > 0 %}
                            <img class="right _10"src="{{ asset('bundles/vmgeneral/images/approuve.png') }}" />
                               {% endif %}
                        </a>
                       {% if location in arrayCreationRoute %}
                        <ul>
                            <li><a href="{{ path ('bo_questionnaire_edit' , {'slug_quest':questionnaire.slug  }) }}" class="{{ location in arrayFormRoute ? 'on_class' : '' }}">- Information de base <img class="right _10"src="{{ asset('bundles/vmgeneral/images/approuve.png') }}" /></a>  </li>
                            <li>
                                <a href="{{ path ('bo_questionnaire_elements' , {'slug_quest':questionnaire.slug  }) }}" class="click_option {{ location == 'questionnaire_elements' ? 'on_class' : '' }}">
                                    - Structure {% if questionnaire.QuestionnaireElement | length > 0 %}<img class="right _10"src="{{ asset('bundles/vmgeneral/images/approuve.png') }}" />{% endif %}
                                </a>
                                    {% if location == 'questionnaire_elements' and type_elements is defined %}
                                <ul class="under">
                                    <li><a class="click_option">Ajouter une question<div class="arrow_on"></div> </a>

                                        <ul class="option_question" style="display: none;">
                                            <div class="arrow_up"></div>
                                                    {% for type_element in type_elements[2]['type'] %}
                                            <li><a href="#element_form" onclick="display_form(this);" data-type="3" data-question-type="{{ type_element.id }}">{{ type_element.name }}</a></li>
                                                    {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a class="element_form_display" href="#element_form" onclick="display_form(this);" data-type="1">Ajouter un groupe </a></li>
                                    <li><a class="element_form_display" href="#element_form" onclick="display_form(this);" data-type="2">Ajouter une description </a></li>
                                    <li class="no_puce">
                                        <a class="reor"><span class="left">Réorganiser les elements</span>
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <div class="onoffswitch-inner"></div>
                                                <div class="onoffswitch-switch"></div>

                                            </label>
                                        </div>
                                        </a>
                                        <div class="stop"></div>
                                    </li>

                                </ul>

                                <script>

                                    $( ".click_option" ).click(function(event) {
                                        event.stopPropagation();
                                        if ($(this).nextAll().css('display') == 'none') {
                                            $(this).nextAll().show();
                                            $(this).addClass('on_class')
                                        }else {
                                            $(this).nextAll().hide();
                                            $(this).removeClass('on_class')
                                        }
                                    });
                                    $( ".option_question a" ).click(function(event) {
                                        event.stopPropagation();
                                        $(this).parents('.option_question').hide();
                                        $(this).parents('.option_question').prevAll().removeClass('on_class');
                                    });
                                    $('html').click(function() {
                                        $('ul.under li ul.option_question').hide();
                                        $('ul.under li a.click_option:first').removeClass('on_class');
                                    });
                                        </script>

                                    {% endif %}
                            </li>



                            <li><a class=" {{ questionnaire.QuestionnaireElement | length > 0 ? '' : 'disabled' }} {{ location in arrayPreviewRoute ? 'on_class' : '' }}" href="{{ path('bo_questionnaire_preview_show', {'slug_quest': app.request.get('slug_quest')}) }}">- Prévisualisation {% if questionnaire.published == 1 %} <img class="right _10"src="{{ asset('bundles/vmgeneral/images/approuve.png') }}" /> {% endif %}</a></li>
                            <li><a class="{{ questionnaire.QuestionnaireElement | length > 0 ? '' : 'disabled' }}" href="{{ path('bo_questionnaire_show', {'slug_quest': app.request.get('slug_quest')}) }}">- Terminer le questionnaire</a></li>
                        </ul>
                       {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('fo_questionnaire_show', {'slug_quest': questionnaire.slug}) }}" target="_blank" class="{{ questionnaire.QuestionnaireElement | length > 0 ? '' : 'disabled' }}">
                            <div class="img"></div>
                            Tester
                               {% if questionnaire.published == 1 or questionnaire.QuestionnaireUser | length > 0 %} <img class="right _10"src="{{ asset('bundles/vmgeneral/images/approuve.png') }}" /> {% endif %}
                        </a>
                    </li>
                    <li><a class="{{ questionnaire.QuestionnaireElement | length > 0 ? '' : 'disabled' }}" href="{{ path('bo_questionnaire_change_status', {'slug_quest': questionnaire.slug, 'status': 'published' }) }}"><div class="img publish"></div>Publier{% if questionnaire.published == 1 %} <img class="right _10"src="{{ asset('bundles/vmgeneral/images/approuve.png') }}" /> {% endif %}</a></li>
                    <li><a class="{{ location == 'questionnaire_invitation' ? 'on_general' : '' }} {{ questionnaire.published == 1 and questionnaire.approbation == 1 ? '' : 'disabled' }}" href="{{ path ('bo_questionnaire_invitation' , { 'slug_quest':questionnaire.slug  }) }}"><div class="img send"></div>Inviter</a></li>
                    <li><a class="{{ questionnaire.QuestionnaireUser | length > 0 ? '' : 'disabled' }}" href="{{ path ('bo_questionnaire_user_respondants' , {'slug_quest':questionnaire.slug  }) }}"><div class="img notation"></div>Noter</a></li>

                   {% else %}
                    <li><a><div class="img edit"></div>Créer</a>
                        <ul>
                            <li><a>- Information de base</a>  </li>
                            <li><a class="disabled">- Structure</a></li>
                            <li><a class="disabled">- Prévisualiser</a></li>
                            <li><a class="disabled">- Terminer le questionnaire</a></li>
                        </ul>
                    </li>
                    <li><a class="disabled"><div class="img"></div>Tester</a></li>
                    <li><a class="disabled"><div class="img publish"></div>Publier</a></li>
                    <li><a class="disabled"><div class="img send"></div>Inviter</a></li>
                    <li><a class="disabled"><div class="img notation"></div>Evaluer</a></li>

                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>