{# empty Twig template #}
<div class="grid_12">
    <div class="border_table">
        <table class="table-backend">
        <thead>
            <tr>
                <th>User</th>
                <th>Questionaire</th>
                <th>Email</th>
                <th>Rang</th>
                <th>Score</th>
                <th>Status</th>
                <th>Update at</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
         {% set scores, ranking , marks, totalElem , count = [],[],[],1,0 %}        
         {# Calculation for scores of each user #}   
         {% for element in elements %}
                    {% set id, totalScore= '' ,0 %}    
                    {% if (element.QuestionnaireQuestionResponse is defined ) and (element.QuestionnaireQuestionResponse | length > 0)%}
                            {% for resp in element.QuestionnaireQuestionResponse %}
                                  {% if id != resp.Question.id %}

                                      {% set ponderation = (resp.Question.rankin is defined and resp.Question.rankin ? resp.Question.rankin : 1) %}
                                      {% if resp.QuestionMark is not empty  and resp.QuestionMark[app.user.id] is defined %}
                                           {% set totalScore = totalScore + ( resp.QuestionMark[app.user.id] * ponderation ) %} 

                                      {% endif %}                                     
                                      {% set id = resp.Question.id %}  

                                  {% endif %}
                            {% endfor %} 
                        {% endif %}           
                      {% set scores = scores|merge({ ('elem-'~element.id) : (totalScore) }) %}             
                  {% endfor %}   

                    {# Beggining of Setting for genrating ranking based on scores of users #} 
                    {# Having heighest score given ranking 1 , blow then 2 then 3 in this sequence #}   
                    {# If more than one user have same score then ranking given same  #}      
                    {% if scores | length > 0 %}  
                        {# reversed score array with sorting for getting descending order score list#}
                        {% for key,val in scores|sort| reverse(true) %}                 
                                 {% set flag = 0 %}        
                                 {% if marks is not empty %} 
                                      {% for mkey , mark in marks %}                
                                        {% if mark == val %}
                                            {% set flag = 1 %}
                                        {% endif %} 
                                      {% endfor %}

                                      {# If already user have same score then same ranking #}   
                                      {% if flag == 1%}
                                            {% set ranking = ranking|merge({ (key) : (totalElem)}) %}      
                                      {% else %}
                                            {% set totalElem = totalElem + 1 %}           
                                            {% set ranking = ranking|merge({ (key) : (totalElem)}) %}    
                                      {% endif %}    

                                {% else %}          
                                    {% set ranking = ranking|merge({ (key) : (totalElem) }) %}   
                                {% endif %}

                                {% set marks = marks | merge({(count):(val)}) %}
                                {% set count = count + 1 %} 
                        {% endfor %}
                    {% endif %}

                {# Ending of  Setting for genrating ranking based on scores of users #}  


                {# User showing in ascending order with rank  and descending order with score#}    
                {% for keys, rank in ranking%}         
                    {% for element in elements %}
                        {% if 'elem-'~element.id == keys %}
                            <tr>
                                <td>{{element.firstName}} {{element.lastName}}</td>
                                <td>{{element.Questionnaire.name}}</td>
                                <td>{{element.email}}</td>
                                <td>{{ranking['elem-'~element.id] is defined ? ranking['elem-'~element.id] : 'N'}}</td>
                                <td>{{scores['elem-'~element.id] is defined ? scores['elem-'~element.id] : 0 }}</td>
                                <td>
                                    {% if element.status == 1 %}
                                        Accepté
                                    {% elseif element.status == 2 %}
                                        Refusé
                                    {% elseif element.status == 3 %}
                                        Utilisateur test
                                    {% else %}
                                        En attente
                                    {% endif %}                                                            
                                </td>
                                <td>{{ element.updatedAt | localizeddate('long', 'short',app.request.locale) }}</td>
                                <td><a href="{{ path('bo_questionnaire_user_remove',{'repondant_id':element.id}) }}" onclick="if(!confirm('Are you sure want to remove.'))return false;">Remove</a>
                                <a href="{{ path('bo_questionnaire_user_respondant_show', {'slug_quest': element.Questionnaire.slug, 'respondant_id': element.id }) }}">&nbsp;&nbsp;Show</a></td>
                                </tr>
                        {% endif %}
                {% endfor %}
        {% endfor %}  
    </tbody>
</table>
    </div>
</div>

