<script src="{{ asset('bundles/vmgeneral/js/AC_RunActiveContent.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/vmgeneral/js/excanvas.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    var ladate = new Date();
    var fileName = 'recording_' + ladate.getTime();
    $(document).ready(function() {
        cam = document.getElementsByName("webcam")[0];
        $('embed').attr('style', 'margin: 0 auto;display: block;');
    });
    function showRecord() {
        $("#recordStartButton").attr("disabled", false);
    }

    function startRecording() {
        cam.startRecording();
        $('#startButton').attr('disabled', 'disabled');
        $('#submitButton').hide();
        $('#stopButton').show();
        $('#stopButton').removeAttr('disabled');
        // start the recording of the video
    }
    function stopRecording() {
        cam.stopRecording();
        $('#stopButton').attr('disabled', 'disabled');
        $('#filename').val(fileName);
        $('#submitButton').show();
        $('#replayButton').show();
        $('#replayButton').removeAttr('disabled');
        // stop the recording of the video
    }

    function playRecording() {
        cam.playRecording();
        // stop the recording of the video
        $('#startButton').removeAttr('disabled');
    }

    function errorCam() {
        $('.question_cam').remove();
        $('.submit_row p').html('<input id="next_link" type="submit" class="btn primary" value="Suivant"  style="float: right; margin-right: 20px;margin-bottom:15px;"/>');
    }
    function validCam() {
        $('#verifCam').hide();
        $('#verifConf').show();
    }
    function validConf() {
        $('#verifConf').hide();
        $('#startButton').show();
        $('#xy1').removeClass('col-md-6');
        $('#xy1').addClass('col-md-12');
    }
    function helpConfStep3() {
        $('#verifConf').hide();
        $('#verifConf2').show();
    }
    function validConf2() {
        $('#verifConf2').hide();
        $('#startButton').show();
        $('#xy1').removeClass('col-md-6');
        $('#xy1').addClass('col-md-12');
    }
    function fail() {
        alert('Il vous faut obligatoirement une webcam pour participer :(');
        $('#verifConf2').hide();
        $('#verifCam').show();
    }
</script>
<div id="xy1" class="col-md-6">
    <form action="{{ path('fo_recording_session_show', {'slug_sess' : app.request.get('slug_sess')}) }}" method="post" name="session_user">
        <!-- /.panel-heading -->
        <div id="webcam" class="panel-body">
            {% if app.request.attributes.get('_route') == 'mo_recording_session_show' %}
                <img class="_100_imp" style="margin: 0 !important;" src="{{ asset('bundles/vmgeneral/images/cam.png') }}" >
            {% else %}
                <script type="text/javascript">
                    if (AC_FL_RunContent == 0) {
                        alert("This page requires AC_RunActiveContent.js.");
                    } else {
                        AC_FL_RunContent(
                                "src", "{{ asset('bundles/vmgeneral/js/webcam') }}",
                                "width", "319px",
                                "height", "240px",
                                "align", "middle",
                                "id", "webcam",
                                "FlashVars", "fileName=" + fileName + "&streamer=rtmp://dev-monkey.org/webcamrecording",
                                "quality", "high",
                                "bgcolor", "#869ca7",
                                "name", "webcam",
                                "allowScriptAccess", "sameDomain",
                                "type", "application/x-shockwave-flash",
                                "pluginspage", "http://www.adobe.com/go/getflashplayer",
                                "show_area", "webcam"
                                );
                    }
                </script>
                <input type="hidden" id="filename" name="filename" />
            {% endif %}
            <div id="message" style="position: relative; width: 75px; margin: 0 auto;"></div>
            <center>
                <p></p>
                <button style="display: none;" type="button" onClick="startRecording()" id="startButton" class="btn btn-success">Start</button>
                <button style="display: none;" type="button" onClick="stopRecording()" id="stopButton"  class="btn btn-danger">Stop</button>
                <button style="display: none;" type="button" onClick="playRecording()" id="replayButton"  class="btn btn-warning">Re-voir</button>
                <p></p>
                <input type="submit" id="submitButton" onClick="$('#submitButton').hide();" style="display:none;" type="button" class="btn btn-outline btn-success btn-lg btn-block" value="Validez votre vidéo" />
            </center>
        </div>
    </form>
</div>
<div class="col-md-6">
    <div id="verifCam" class="panel panel-default">
        <div class="panel-heading">
            <strong>Etape 1 :</strong> Vérification du matériel
        </div>
        <div class="panel-body">
            <p class="bold">Vous êtes sur le point de répondre à une question webcam, pour se faire, possédez vous une webcam ?</p>
            <p  class="btn_webcam">
                <button type="button" onclick="validCam()" class="btn btn-outline btn-success">Oui</button>  
                <button type="button" onclick="alert('Il vous faut obligatoirement une webcam pour participer :(')"  class="btn btn-outline btn-warning">Non</button>
            </p>  
        </div>
    </div>

    <div id="verifConf" class="panel panel-default" style="display:none">
        <div class="panel-heading">
            <strong>Etape 2 :</strong> Activation de votre Webcam
        </div>
        <div class="panel-body">
            <p class="bold">Si vous ne vous voyez pas dans le petit écran à gauche, merci de suivre les instructions ci-dessous :</p>
            <div class="tuto_etape">
                <p>Cliquez sur autoriser et puis attendez quelques secondes que la camera s'active</p>
                <div><img class="etape" src="{{ asset('bundles/vmgeneral/images/tuto/etape3.png') }}" alt="etape3"> </div>
            </div>
            <div class="question_tuto">
                <p class="bold">Avez vous réussi à configurer votre webcam ? vous devez vous voir dans le petit écran !</p>
                <p class="btn_webcam">
                    <button type="button" onclick="validConf()" class="btn btn-outline btn-success">Oui</button>  
                    <button type="button" onclick="helpConfStep3()"  class="btn btn-outline btn-warning">Non</button>
                </p>
            </div>
        </div>
    </div>

    <div id="verifConf2" class="panel panel-default" style="display:none">
        <!--<div class="panel-heading">
            <strong>Etape 2-1 :</strong> Activation de votre Webcam
        </div>
        <div class="panel-body">
            <div class="tuto_etape">
                <p class="bold">Dans certains cas, vous devrez autoriser votre navigateur à enregistrer la vidéo (message en haut de votre votre écran)</p>
                set browser = app.request.attributes.get('_browser').Browser
                 if browser == 'Chrome' %}
                    <div id="chrome"><img src="{{ asset('bundles/vmgeneral/images/tuto/chrome_tuto.gif') }}" alt="tuto_chrome" /> </div>
                    <div id="opera"><img class="opera" src="{{ asset('bundles/vmgeneral/images/tuto/opera_tuto.gif') }}" alt="tuto_opera" /></div>
                     elseif browser == 'Default Browser' %}
                    <div><img class="firefox" src="{{ asset('bundles/vmgeneral/images/tuto/firefox_tuto.gif') }}" alt="tuto_firefox" /></div>
                     endif %}
            </div>
            <div class="question_tuto">
                <p class="bold">Avez vous réussi à configurer votre webcam ? vous devez vous voir dans le petit écran !</p>
                <p class="btn_webcam">
                    <button type="button" onclick="validConf2()" class="btn btn-outline btn-success">Oui</button>  
                    <button type="button" onclick="fail()"  class="btn btn-outline btn-warning">Non</button>
                </p>
            </div>
        </div>-->
    </div>

    <div id="success" class="panel panel-default" style="display:none">
        <div class="panel-heading">
            <strong>Etape 3 :</strong> Enregistrez-vous
        </div>
        <div class="panel-body">
            <p class="bold">Bravo votre webcam est bien configurée, vous pouvez maintenant vous enregistrer :)</p>
        </div>
    </div>
</div>
<script>
    /* if app.request.attributes.get('_browser').Browser == 'Chrome' %}
     if (window.navigator.vendor != "Google Inc.") {
     $('#chrome').hide();
     } else {
     $('#opera').hide();
     }
     endif */
</script>
<noscript>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
        id="red5recorder" width="320px" height="240px"
        codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
    <param name="movie" value="red5recorder.swf" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#869ca7" />
    <param name="allowScriptAccess" value="sameDomain" />
    <embed src="red5recorder.swf" quality="high" bgcolor="#869ca7"
           width="100%" height="100%" name="red5recorder" align="middle"
           play="true"
           loop="false"
           quality="high"
           allowScriptAccess="sameDomain"
           type="application/x-shockwave-flash"
           pluginspage="http://www.adobe.com/go/getflashplayer" />

</object>
</noscript>
<div id="mediaplayer" style="display:none;"></div>
<p>{{ (errors is defined and errors[element.question.id] is defined) ? errors[element.question.id] : '' }}</p>

