<div id="post-container">
    <div id="posts">
        <p class="gallery-description">Recently Added Videos:</p>

        <div id="post-145" class="post-145 post type-post status-publish format-standard hentry category-blog category-sample-posts gallery-item" style="height: 271px;">

            <div class="post-thumbnail">
                <a class="thumbnail-frame" href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post-2/" title="This is a Sample Non Video Post"><!-- nothing to see here --></a>
                <img width="180" height="130" src="{{ asset('bundles/SOgeneral/images/face-180x130.jpg') }}" class="attachment-post-thumbnail wp-post-image" alt="Rain">	</div>

            <h2><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post-2/" title="This is a Sample Non Video Post">This is a Sample Non Video Post</a></h2>

            <ul class="post-meta">
                <li class="date">Posted on March 29, 2010</li>
                <li class="categories"><a href="http://www.press75.com/themes/on-demand/category/blog/" title="View all posts in Blog" rel="category tag">Blog</a>, <a href="http://www.press75.com/themes/on-demand/category/sample-posts/" title="View all posts in Sample Posts" rel="category tag">Sample Posts</a></li>
                <li class="comments"><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post-2/#comments" title="This is a Sample Non Video Post">Comments: 6</a></li>
            </ul> <!-- post-meta -->
        </div> <!-- gallery-item -->													<div id="post-138" class="post-138 post type-post status-publish format-standard hentry category-blog category-sample-posts gallery-item" style="height: 271px;">

            <div class="post-thumbnail">
                <a class="thumbnail-frame" href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post/" title="This is a Sample Non Video Post"><!-- nothing to see here --></a>
                <img width="180" height="130" src="{{ asset('bundles/SOgeneral/images/subway-180x130.jpg') }}" class="attachment-post-thumbnail wp-post-image" alt="Subway">	</div>

            <h2><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post/" title="This is a Sample Non Video Post">This is a Sample Non Video Post</a></h2>

            <ul class="post-meta">
                <li class="date">Posted on October 26, 2009</li>
                <li class="categories"><a href="http://www.press75.com/themes/on-demand/category/blog/" title="View all posts in Blog" rel="category tag">Blog</a>, <a href="http://www.press75.com/themes/on-demand/category/sample-posts/" title="View all posts in Sample Posts" rel="category tag">Sample Posts</a></li>
                <li class="comments"><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post/#comments" title="This is a Sample Non Video Post">Comments: 8</a></li>
            </ul> <!-- post-meta -->
        </div> <!-- gallery-item -->													<div id="post-121" class="post-121 post type-post status-publish format-standard hentry category-more-videos category-sample-videos gallery-item" style="height: 271px;">

            <div class="post-thumbnail">
                <a class="thumbnail-frame-video inline" href="http://www.press75.com/themes/on-demand/#video-121" title="This is a Sample Video Post"><!-- nothing to see here --></a>
                <img width="180" height="130" src="{{ asset('bundles/SOgeneral/images/tree-rain1-180x130.jpg') }}" class="attachment-post-thumbnail wp-post-image" alt="Tree">	</div>

            <div class="instant">
                <div id="video-121" class="instant-view">
                    <iframe src="{{ asset('bundles/SOgeneral/images/6964382.html') }}" width="604" height="340" frameborder="0"></iframe>		</div>
            </div>


            <h2><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-video-post-7/" title="This is a Sample Video Post">This is a Sample Video Post</a></h2>

            <ul class="post-meta">
                <li class="date">Posted on October 26, 2009</li>
                <li class="categories"><a href="http://www.press75.com/themes/on-demand/category/sample-videos/more-videos/" title="View all posts in More Videos" rel="category tag">More Videos</a>, <a href="http://www.press75.com/themes/on-demand/category/sample-videos/" title="View all posts in Sample Videos" rel="category tag">Sample Videos</a></li>
                <li class="comments"><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-video-post-7/#comments" title="This is a Sample Video Post">Comments: 7</a></li>
            </ul> <!-- post-meta -->
        </div> <!-- gallery-item -->
        <div id="post-107" class="post-107 post type-post status-publish format-standard hentry category-more-videos category-sample-videos gallery-item" style="height: 271px;">
            <div class="post-thumbnail">
                <a class="thumbnail-frame-video inline" href="http://www.press75.com/themes/on-demand/#video-107" title="This is a Sample Video Post"><!-- nothing to see here --></a>
                <img width="180" height="130" src="{{ asset('bundles/SOgeneral/images/shapes-180x130.jpg') }}" class="attachment-post-thumbnail wp-post-image" alt="Shapes">	</div>

            <div class="instant">
                <div id="video-107" class="instant-view">
                    <iframe src="{{ asset('bundles/SOgeneral/images/3864495.html') }}" width="604" height="340" frameborder="0"></iframe>		</div>
            </div>


            <h2><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-video-post-9/" title="This is a Sample Video Post">This is a Sample Video Post</a></h2>

            <ul class="post-meta">
                <li class="date">Posted on October 26, 2009</li>
                <li class="categories"><a href="http://www.press75.com/themes/on-demand/category/sample-videos/more-videos/" title="View all posts in More Videos" rel="category tag">More Videos</a>, <a href="http://www.press75.com/themes/on-demand/category/sample-videos/" title="View all posts in Sample Videos" rel="category tag">Sample Videos</a></li>
                <li class="comments"><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-video-post-9/#comments" title="This is a Sample Video Post">Comments: 3</a></li>
            </ul> <!-- post-meta -->
        </div> <!-- gallery-item -->													<div id="post-179" class="post-179 post type-post status-publish format-standard hentry category-blog category-sample-category category-sample-posts gallery-item" style="height: 289px;">

            <div class="post-thumbnail">
                <a class="thumbnail-frame" href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post-8/" title="This is a Sample Non Video Post"><!-- nothing to see here --></a>
                <img width="180" height="130" src="{{ asset('bundles/SOgeneral/images/can-180x130.jpg') }}" class="attachment-post-thumbnail wp-post-image" alt="Can">	</div>

            <h2><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post-8/" title="This is a Sample Non Video Post">This is a Sample Non Video Post</a></h2>

            <ul class="post-meta">
                <li class="date">Posted on October 25, 2009</li>
                <li class="categories"><a href="http://www.press75.com/themes/on-demand/category/blog/" title="View all posts in Blog" rel="category tag">Blog</a>, <a href="http://www.press75.com/themes/on-demand/category/sample-category/" title="View all posts in Sample Category" rel="category tag">Sample Category</a>, <a href="http://www.press75.com/themes/on-demand/category/sample-posts/" title="View all posts in Sample Posts" rel="category tag">Sample Posts</a></li>
                <li class="comments"><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post-8/#comments" title="This is a Sample Non Video Post">Comments: 4</a></li>
            </ul> <!-- post-meta -->
        </div> <!-- gallery-item -->													<div id="post-187" class="post-187 post type-post status-publish format-standard hentry category-more-videos category-sample-videos category-sub-videos gallery-item" style="height: 289px;">

            <div class="post-thumbnail">
                <a class="thumbnail-frame-video inline" href="http://www.press75.com/themes/on-demand/#video-187" title="This is a Sample Video Post"><!-- nothing to see here --></a>
                <img width="180" height="130" src="{{ asset('bundles/SOgeneral/images/fireplays-180x130.jpg') }}" class="attachment-post-thumbnail wp-post-image" alt="fireplays">	</div>

            <div class="instant">
                <div id="video-187" class="instant-view">
                    <iframe src="{{ asset('bundles/SOgeneral/images/1418995.html') }}" width="604" height="340" frameborder="0"></iframe>		</div>
            </div>


            <h2><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-video-post/" title="This is a Sample Video Post">This is a Sample Video Post</a></h2>

            <ul class="post-meta">
                <li class="date">Posted on October 24, 2009</li>
                <li class="categories"><a href="http://www.press75.com/themes/on-demand/category/sample-videos/more-videos/" title="View all posts in More Videos" rel="category tag">More Videos</a>, <a href="http://www.press75.com/themes/on-demand/category/sample-videos/" title="View all posts in Sample Videos" rel="category tag">Sample Videos</a>, <a href="http://www.press75.com/themes/on-demand/category/sample-videos/sub-videos/" title="View all posts in Sub Videos" rel="category tag">Sub Videos</a></li>
                <li class="comments"><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-video-post/#comments" title="This is a Sample Video Post">Comments: 1</a></li>
            </ul> <!-- post-meta -->
        </div> <!-- gallery-item -->																				</div> <!-- posts -->

    <div id="sidebar">
        <div id="text-3" class="widget widget_text"><h3>Sample Text Widget</h3>			<div class="textwidget"><p>All photography used for the On Demand theme demo is courtesy Sam Javanrouh who's work you can view at: <a href="http://www/topleftpixel.com" target="_blank" title="TopLeftPixel.com">TopLeftPixel.com</a>.</p>
            </div>
        </div><div id="sf_posts_widget-3" class="widget sf_posts_widget"><h3>Featured Posts</h3>	    
            <!-- begin widget content -->
            <div class="cat-post-item">
                <div class="post-thumbnail-side">
                    <a class="thumbnail-frame-side" href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post-2/" title="This is a Sample Non Video Post"><!-- nothing to see here --></a>
                    <img width="80" height="80" src="{{ asset('bundles/SOgeneral/images/face-80x80.jpg') }}" class="attachment-category wp-post-image" alt="Rain">		        		</div>

                <h3 class="featured"><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post-2/" title="This is a Sample Non Video Post">This is a Sample Non Video Post</a></h3>

                <span class="widget-date">March 29, 2010</span>
            </div>
            <div class="cat-post-item">
                <div class="post-thumbnail-side">
                    <a class="thumbnail-frame-side" href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post/" title="This is a Sample Non Video Post"><!-- nothing to see here --></a>
                    <img width="80" height="80" src="{{ asset('bundles/SOgeneral/images/subway-80x80.jpg') }}" class="attachment-category wp-post-image" alt="Subway">		        		</div>

                <h3 class="featured"><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post/" title="This is a Sample Non Video Post">This is a Sample Non Video Post</a></h3>

                <span class="widget-date">October 26, 2009</span>
            </div>
            <div class="cat-post-item">
                <div class="post-thumbnail-side">
                    <a class="thumbnail-frame-side" href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post-8/" title="This is a Sample Non Video Post"><!-- nothing to see here --></a>
                    <img width="80" height="80" src="{{ asset('bundles/SOgeneral/images/can-80x80.jpg') }}" class="attachment-category wp-post-image" alt="Can">		        		</div>

                <h3 class="featured"><a href="http://www.press75.com/themes/on-demand/this-is-a-sample-non-video-post-8/" title="This is a Sample Non Video Post">This is a Sample Non Video Post</a></h3>

                <span class="widget-date">October 25, 2009</span>
            </div>
            <!-- end widget content -->
        </div>		
    </div> <!-- sidebar -->
</div> <!-- post-container -->