<div id="post-container">
    <div id="posts">
        <p class="gallery-description">List des films ({{ pagination.getTotalItemCount }}):</p>
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% for movie in pagination %}
        <div id="post-121" class="post-121 post type-post status-publish format-standard hentry category-more-videos category-sample-videos gallery-item" style="height: 271px;">
            <div class="post-thumbnail">
                <a class="thumbnail-frame-video inline" href="{{ path('so_movie_video', {'code': movie.code}) }}" title="{{ movie.title }}"><!-- nothing to see here --></a>
                <img width="180" height="130" src="{{ movie.poster }}" class="attachment-post-thumbnail wp-post-image" alt="Tree">	
            </div>
            <div class="instant">
                <div id="video-121" class="instant-view">
                    <iframe src="" width="604" height="340" frameborder="0"></iframe>		
                </div>
            </div>
            <h2><a href="{{ path('so_movie_show', { 'slug': movie.slug }) }}" title="{{ movie.title }}">{{ movie.title }}</a></h2>
            <ul class="post-meta">
                <li class="date">Annee : {{ movie.productionYear }}</li> 
                {% if movie.genre is not empty %}
                <li class="categories">
                    Genre : 
                    {% for genre in movie.genre %}
                    <a href="#{{ genre.name }}" title="{{ genre.name }}" rel="{{ genre.name }}">{{ genre.name }}</a>, 
                    {% endfor %}
                </li>
                {% else %}
                {% if movie.runtime is not empty %}
                <li class="date">Duree : {{ movie.runtime }}</li>
                {% endif %}
                {% endif %}
                <li class="comments">
                    <a href="#comments" title="This is a Sample Video Post">Comments: ?</a>
                </li>
            </ul> <!-- post-meta -->
        </div> <!-- gallery-item -->	
        {% endfor %}
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div> <!-- posts -->
    {{ render(controller('SOMovieBundle:Movie:sidebar', {
            'max': 5, 'request': app.request
        })) }}
    <script>
        $(document).ready(function() {
            var page;
            var data = {};
            $('#paginate a').click(function(e) {
                e.preventDefault();
                /*$.get("{{ path('so_movie_list') }}?page=" + $(this).text(), function(data) {
                 $("#post-container").replaceWith(data);
                 });*/
                page = getParameterByName('page', e.target.href);
                data[page] = {'url': '{{ path('so_movie_list') }}?page=' + page};
                history.pushState(data[page], page, '?page=' + page);
                reportData(data[page]);
            });
        });
    </script>
</div> <!-- post-container -->
