<div id="sidebar">
        <div id="text-3" class="widget widget_text">
            <h3>Progress</h3>			
            <div class="textwidget">
                <p>20%</p>
            </div>
        </div>
        <div id="sf_posts_widget-3" class="widget sf_posts_widget">
            <h3>Film a la une</h3>	
            <!-- begin widget content -->
            {% for movie in movies %}
            <div class="cat-post-item">
                <div class="post-thumbnail-side">
                    <a class="thumbnail-frame-side" href="{{ path('so_movie_show', { 'slug': movie.slug }) }}" title="{{ movie.title }}"><!-- nothing to see here --></a>
                    <img width="80" height="80" src="{{ movie.poster }}" class="attachment-category wp-post-image" alt="Rain">		        		
                </div>
                <h3 class="featured">
                    <a href="{{ path('so_movie_show', { 'slug': movie.slug }) }}" title="{{ movie.title }}">{{ movie.title }}</a>
                </h3>
               <ul class="">
                <li class="date"></li>
                <li class="date">Annee : {{ movie.productionYear }}</li> 
                {% if movie.genre is not empty %}
                <li class="categories">
                    Genre : 
                    {% for genre in movie.genre %}
                       <a href="#{{ genre.name }}" title="{{ genre.name }}" rel="{{ genre.name }}">{{ genre.name }}</a>, 
                    {% endfor %}
                </li>
                {% else %}
                {% if movie.runtime is not empty %}
                <li class="date">Duree : {{ movie.runtime }}</li>
                {% endif %}
                {% endif %}
                <li class="comments">
                    <a href="#comments" title="This is a Sample Video Post">Comments: ?</a>
                </li>
            </ul> <!-- post-meta -->
            </div>
            {% endfor %}
            <!-- end widget content -->
        </div>		
</div> <!-- sidebar -->