



<ul class="list-design">
    {% for element in elements %}
    <li>
        <a href="{{ path('mo_questionnaire_show',{'slug_ent':  element.enterprise.slug , 'slug_quest':element.slug  }) }}">
            <div class="img_list"></div>
            <div class="contenu">
                <h1 class="titre">{{ element.name }}</h1>
                {% if element.isEndClose %}
                    <div class="statut_publish finshed"><div class="lock"></div>Clotur&eacute;</div>
                {% elseif element.published != 1  and element.approbation != 1 %}
                    <div class="statut_publish creation"><div class="pen"></div>Cr&eacute;ation</div>
                 {% elseif element.published == 1 and element.approbation != 1 %}
                <div class="statut_publish creation"><div class="hourglass"></div>En cours de validation</div>
                 {% elseif element.published == 1 and element.approbation == 1 %}
                    <div class="statut_publish"><div></div>En ligne</div>
                 {% elseif element.published != 1 and element.approbation == 1 %}
                    <div class="statut_publish depublish"><div class="cross"></div>Dépublié</div>
                 {% endif %}
                <div class="stop"></div>


                {#<div class="left _90">
                   <span class="date"><div></div><span>du <span class="bold">{{ element.createdAt | date('d F Y h:i:s ') }}</span> au <span class="bold">{{ element.dateEnd | date('d F Y h:i:s ')  }}</span></span></span>
                </div>
                <div class="stop"></div>#}
                {% if element.approbation == 1 and element.published == 1%}
                    <div class="info_picto">
                        <div class="left _70">
                            {% if element.QuestionnaireUser| length == 0 %}
                                <span class="left bold">Vous n'avez pas encore de participants</span>
                            {% else %}
                                <span class="left bold">Participants :</span>
                                <span class="profil_accepted"><div></div>{{element.getQuestionnaireUserBy({'by_status':'accepted'}) |length}} Accepté</span>
                                <span class="left">-</span>
                                <span class="profil_total"><div></div>{{element.QuestionnaireUser| length}} Total</span>
                            {% endif %}
                        </div>
                        <div class="stop"></div>
                    </div>
                {% endif %}
                {% if element.textIntroduction %}
                <p class="italic">
                    {{element.textIntroduction| striptags| raw }}
                </p>
                {% endif%}

                {% set countNew = element.getQuestionnaireUserBy({'by_status':'new'}) %}

                {% if element.approbation == 1 and element.published == 1 and countNew |length > 0 %}
                    <button class="btn  right" onclick="location.href='{{ path ('mo_questionnaire_user_respondants' , {'slug_ent':  element.enterprise.slug , 'slug_quest':element.slug, 'by_status':'waiting'  }) }}';return false;"><div></div>{{countNew| length}} Nouveaux participants</button>
                {% elseif element.approbation != 1 %}
                    <button class="btn blue" onclick="location.href='{{ path ('mo_questionnaire_edit' , {'slug_ent':  element.enterprise.slug , 'slug_quest':element.slug  }) }}';return false;">Editer le questionnaire</button>
                    <button class="btn green" onclick="location.href='{{ path ('mo_questionnaire_elements' , {'slug_ent':  element.enterprise.slug , 'slug_quest':element.slug  }) }}';return false;">Editer les Elements du questionnaire </button>
                {% endif %}
            </div>
            <div class="fleche"></div>
        </a>
    </li>

    {% endfor %}
</ul>