{% if element.enclosedFiles %}
    {% if element.mediaType =='image'%}
        {% set original_file = pathInfoTwig(element.enclosedFiles) %}
        {% set arrayFile = element.enclosedFiles | split('files/') %}
        {% set newfilepath = arrayFile[0]~'files/'~original_file.filename~'_medium.'~original_file.extension %}
        
        <img src="{{ asset('..'~newfilepath)}}" > 
    {% elseif element.mediaType =='embed' %}     
        {{ element.enclosedFiles | raw }}  
    {% elseif element.mediaType == 'video' %}                
        <div id="myElement_{{element.id}}">Loading the player...</div>
                       
        <script type="text/javascript">
            jwplayer("myElement_{{element.id}}").setup({
                file: "http://{{app.request.httpHost}}/web/..{{ element.enclosedFiles }}",
                image: ""
            });
        </script>
    {% endif %}     

{% endif %}  