{% extends 'VMGeneralBundle:Middle:layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block content %}
    <div class="grid_12">
        <div class="border-main">
            <div class="block-simple">
                <div class="block_design">
                    <div class="block_header"><h1>Questionnaire {{questionnaire.name}}</h1></div>
                    <div class="block_content">
                        <div class="grid_3">
                            {% include 'VMQuestionnaireBundle:Form:questionnaire_form_menu.html.twig' with {'questionnaire': questionnaire} %}
                        </div>
                        <div class="grid_9">
                            <div class="blocpres">
                                <div class="right show">
                                    {% if questionnaire.Enterprise.logo %}
                                        <img src="{{ asset(questionnaire.Enterprise.logo) }}" alt="logo_entreprise" />
                                    {% endif %}
                                </div>

                                    <p class="eighteenpx"> <span class="bold">Entreprise : </span><span >{{questionnaire.Enterprise.name}}</span></p>
                                    {% if questionnaire.Enterprise.urlSite %}
                                        <p> <span class="bold">Site web : </span><span ><a href="{{questionnaire.Enterprise.urlSite}}" target="_blank">{{questionnaire.Enterprise.urlSite}}</a></span></p>
                                    {% endif %}
                                    <div class="textTMCE">
                                       {{questionnaire.textIntroduction | raw}}
                                    </div>
                                    <div class="textTMCE">
                                        {{questionnaire.textPresentation | raw}}
                                    </div>
                                    <a  class="btn_principal text_center" style="margin-left: 40% !important;" href="{{ path('mo_questionnaire_process', {'slug_ent':app.request.get('slug_ent'), 'slug_quest': app.request.get('slug_quest')}) }}">{% trans with {'%name%': questionnaire.name} from 'front' %}questionnaire.actionButton.start{% endtrans %}</a>
                                <div class="stop"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="stop"></div>
{% endblock %}