{% extends 'SOBackBundle::layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="grid_8">
        <div class="block_border">
            <div class="block_design">
                <div class="block_header"><h1>Show goal</h1></div>
                <div class="block_content no_padding">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="text-align:left; font-weight:bold;">Nom</td>
                                <td class="center">{{ goal.name }}</td>
                            </tr>      
                        </tbody>
                     </table>
                      <div id="trade" class="related_trade"><a href="{{ path('bo_diplomas')}}"><b>0</b></a>&nbsp;Objectif dans le dipl&ocirc;me</div>
						   
                      <div id="trade" class="related_trade"><a href=""><b>0</b></a>&nbsp;Type de dipl&ocirc;me totale</div>

                      <div id="trade" class="related_trade"><a href="{{ path('bo_trainings',{'training_filter[by_goal]':goal.id}) }}"><b>{{ goal.GoalTraining | length }}</b></a>&nbsp;total de la formation</div>
						   
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="block_border">
                <div class="block_design sidebar">
                    <div class="block_header"><h1>Actions</h1></div>
                    <div class="block_content no_padding">
                        <ul class="list no_margin">                            
                            <li><a href="{{ path('bo_goal_edit',{'id':goal.id}) }}">Modifier</a> </li>
                            <li><a href="{{ path('bo_goal_remove',{'id':goal.id}) }}" onclick="return confirm('Are you sure?');">Supprimer</a>  </li>                            
                            <li><a href="{{ path('bo_goal_index') }}">All goal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}