{% extends 'VMGeneralBundle:Back:layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="grid_3">
    <div class="block-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_content question" style="margin-bottom: 100px;">
                   {% include 'VMQuestionnaireBundle:Back:questionnaire_form_menu.html.twig' with {'location' : 'elements'} %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid_9" >
    <div class="block-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Organisation du questionnaire {{questionnaire.name}}</h1></div>
                <div class="block_content question" style="margin-bottom: 100px;">
                    {% include 'VMQuestionnaireBundle:Middle:Element/element_list.html.twig' %}
                    <div id="element_form" class="new" style="display:none;">
                        <div style="height:10px;">&nbsp;</div>
                    </div>   
                    <div class="stop"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="button_bar">
    {% include 'VMQuestionnaireBundle:Middle:Element/elements_menu.html.twig' %}
    <span class="reor">Réorganiser les élements</span>
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
</div>

<script type="text/javascript">
    $('#myonoffswitch').click(function() {
        if ($('input[name="onoffswitch"]').attr('checked'))
            $('input[name="onoffswitch"]').removeAttr('checked');
        else
            $('input[name="onoffswitch"]').attr('checked', 'checked');
    });
    $(".collapse").click(function() {
        var status = $(this).closest('.group_element').children('.group-content');
        if ($(status).is(':visible')) {
            $(status).slideUp();
            $(this).html('Déplier');
        } else {
            $(status).slideDown();
            $(this).html('Replier');
        }
    });

    $(".clickMe").click(function() {
        $(this).parent().next().slideToggle();
    });
    $(document.body).click(function(e) {
        var fermer = $('.clickMe');
        if ($('.clickMe').length != 0) {
            if (!$(e.target).is(fermer) && !$.contains(fermer[0], e.target)) {
                $('.arrow_box').hide();
            }
        }
    });


    //function to display form 
    function display_form(that) {
        var data_id = $(that).attr('data-id');
       
        var data_elem_id = $(that).attr('data-elem_id');

        if (!data_elem_id) {
            data_elem_id = data_id;
            var url = "{{path('bo_questionnaire_element_new', {'slug_ent': app.request.get('slug_ent'), 'slug_quest': app.request.get('slug_quest')})}}";
        } else {
            var url = "{{path('bo_questionnaire_element_new', {'slug_ent': app.request.get('slug_ent'), 'slug_quest': app.request.get('slug_quest')})}}";
            url = url.replace('new', 'edit/' + data_elem_id);
        }

        var action = $(that).attr('data-action');
        
        if ($(that).parents("h4").length > 0) {
            $(that).parents("h4").next(".element_display").css("opacity", "0.3");
        } else {
            $(that).parents(".element_display").css("opacity", "0.3");
        }
        $.ajax({
            type: "POST",
            data: {'element_type': $(that).attr('data-type'), 'question_type': $(that).attr('data-question-type'), 'data_id': data_elem_id},
            url: url,
            success: function(data) {
                
                if (data_id && !action) {
                    $("#" + data_id).after("<div class='stop'></div><div class='list_" + data_id + "'>" + data + "</div>");
                }
                
                else if (data_elem_id && action == 'edit'){
                    
                    var active_edit = $(that).children('.edit').attr('class').match('active');
                    
                    if(!active_edit){
                        $('#edit_form').remove();
                        $('#elem_hidden').css('display', 'block');
                        $('#elem_hidden').attr('id', '');
                        $('.edit').each(function(){
                            $(this).removeClass('active'); 
                        });
                        
                        $(that).children('.edit').addClass('active');
                    }else{
                        $(that).children('.edit').removeClass('active');
                        $('#edit_form').remove();
                        $('#elem_hidden').css('display', 'block');
                        $('#elem_hidden').attr('id', '');
                    }
                    
                        
                    var active_edit_new = $(that).children('.edit').attr('class').match('active');                 
                       
                    if(!$('#edit_form').html() && active_edit_new){
                         if ($(that).parents("h4").length > 0) {
                             $(that).parents("h4").next(".element_display").css("display", "none");
                             $(that).parents("h4").next(".element_display").attr("id", "elem_hidden");
                             $(that).parents("h4").next(".element_display").css("opacity", "1");
                             $(that).parents("h4").next(".element_display").before("<div class='element_display' id='edit_form'><div class='stop'></div><div class='list_" + data_elem_id + "'>" + data + "</div></div>");
                         } else {
                            
                             $(that).parents(".element_display").css("display", "none");
                             $(that).parents(".element_display").attr("id", "elem_hidden");
                             $(that).parents(".element_display").before("<div class='element_display' id='edit_form'><div class='stop'></div><div class='list_" + data_elem_id + "'>" + data + "</div></div>");
                         }
                    }
                                   

                } else {
                   
                    $('#edit_form').remove();
                    $('#elem_hidden').css('display', 'block');
                    $("#element_form.new").show();
                    $("#element_form.new").html("<div class='list_element_form'><div class='stop'></div><div>" + data + "</div></div>");
                    if ($('#elem_hidden').html())
                        $('#elem_hidden').attr('id', '');
                }

                var parent_id = $(that).attr('data-parent_id');

                //setting parent_id
                if (parent_id) {
                    if ($('#QuestionnaireElement_parent_id').length > 0) {
                        $('#QuestionnaireElement_parent_id').val(parent_id);
                    } else {
                        var form_div = $('.list_' + data_id + ' .form');
                        if ($(that).attr('data-type') == 3) {
                            form_div.append('<input type="hidden" value="' + parent_id + '" id="Question_QuestionnaireElement_parent_id" name="Question[QuestionnaireElement][parent_id]">');
                        } else {
                            form_div.append('<input type="hidden" value="' + parent_id + '" id="QuestionnaireElement_parent_id" name="QuestionnaireElement[parent_id]">');
                        }
                    }
                }

                if ($(that).parents("h4").length > 0) {
                    $(that).parents("h4").next(".element_display").css("opacity", "1");
                } else {
                    $(".element_display").css("opacity", "1");
                }
            },
            error: function(data) {
                return 0;
            }
        });
        return false;
    }

    function display_config(that) {
        $('#div_config').remove();
        var data_elem_id = $(that).attr('data-elem_id');
        {% set index = '/' %}
        {% if app.environment == 'dev' %}
                {% set index = '/app_dev.php/' %}
        {% endif %}
        $.ajax({
            type: "GET",
            url: "{{index}}backend/{{ app.request.get('slug_ent') }}/questionnaire/{{ app.request.get('slug_quest') }}/element/" + data_elem_id + "/form/config",
            success: function(data) {
                $(that).after(data);
            },
            error: function(data) {
                return 0;
            }
        })
    }

    function saveData(url, that) {
      
        $.ajax({
            type: "POST",
            url: url,
            data: {'field-type': $(that).attr('data-type'), 'value': $(that).val()},
            success: function(data) {
                if ($(that).attr('data-type') != 'time_limit') {
                    $(that).parents('.input-main:first').replaceWith(data);
                } else {
                    $('#div_config').remove();
                    if (!$('.time_limit_' + $(that).attr('data-id')).html()) {
                        $('.list_' + $(that).attr('data-id') + ' li:last').after('<li class="time_limit_' + $(that).attr('data-id') + '"><span class="bold">Temps de réponse : </span> ' + $(that).val() + '</li>');
                    } else {
                        $('.time_limit_' + $(that).attr('data-id')).html('<span class="bold">Temps de réponse : </span> ' + $(that).val());
                    }
                }
            },
            error: function(data) {
                return 0;
            }
        });
        return false;
    }

    function getForm(url, that) {
        if ($(that).attr('data-type') == 'title') {
            $(that).replaceWith('<div class="input-main"><div class="input-block"><div class="field"> <input onblur="saveData(\'' + url + '\', this)" type="text" data-type="title" id="QuestionnaireElement_name" name="QuestionnaireElement[name]" required="required" maxlength="255" value="' + $(that).text() + '"></div></div></div>');
            $("#QuestionnaireElement_name").focus();
        } else if ($(that).attr('data-type') == 'titleGroup') {
            $(that).replaceWith('<div class="input-main left _80_imp title_spe"><div class="input-block"><div class="field"> <input onblur="saveData(\'' + url + '\', this)" type="text" data-type="titleGroup" id="QuestionnaireElement_name" name="QuestionnaireElement[name]" required="required" maxlength="255" value="' + $(that).text() + '"></div></div></div>');
            $("#QuestionnaireElement_name").focus();
        } else {
            $(that).replaceWith('<div class="input-main"><div class="input-block"><div class="field"><textarea onblur="saveData(\'' + url + '\', this)" data-type="description" id="QuestionnaireElement_text_description" name="QuestionnaireElement[text_description]" required="required">' + $(that).text() + '</textarea></div></div></div>');
            $("#QuestionnaireElement_text_description").focus();
        }
    }
</script>
{% endblock %}
