{{ form_row(form.QuestionnaireElement.media_allow)}}  
        
<div id="media_type_area" style="display:none;">
{{ form_row(form.QuestionnaireElement.media_type)}}
   <div id="media_type_browse" style="display:none;"> 
     {{ form_row(form.QuestionnaireElement.element_media_file,{'attr':{'data-id':(app.request.get('data_list') ? app.request.get('data_list') :'' ),'data-media_id':'media_file','data-type':'image','data-url':path('mo_questionnaire_element_media_upload',{'slug_ent':app.request.get('slug_ent'),'slug_quest':app.request.get('slug_quest')})}})}}

     {% if extraParams.type_media is defined and extraParams.type_media != 'embed'%}
         {% set attach_file = app.request.get('media_file') ? app.request.get('media_file') : (extraParams.question.QuestionnaireElement.enclosedFiles? (extraParams.question.QuestionnaireElement.enclosedFiles | split('/')[5]) :'') %}
     {% else %}
         {% set attach_file = app.request.get('media_file') ? app.request.get('media_file') ?'' %}
     {% endif %}

     <div id="attachment_file">{{ attach_file }}</div>  
     <input type="hidden" id= "media_file" name="media_file" value="{{attach_file}}">
   </div>
   <div id="media_type_embed" style="display:none;"> 
       {% if extraParams.type_media is defined and extraParams.type_media == 'embed'%}
         {% set embed_file = extraParams.question.QuestionnaireElement.enclosedFiles? extraParams.question.QuestionnaireElement.enclosedFiles :'' %}
       {% else %}
         {% set embed_file = app.request.get('question') ? app.request.get('question')['QuestionnaireElement']['media_embed'] ?'' %}
       {% endif %}

      {{ form_row(form.QuestionnaireElement.media_embed ,{'value':embed_file})}}    
   </div>
    {% if app.environment == 'dev' %}
            <div class="input-main">
                <div class="input-block">
                    <label ><span class="left">Ajouter un média à la question</span>
                    <div class="field left">
                        <input type="checkbox">
                    </div>
                    </label>
                </div>
            </div>
            <ul class="tabs_media">
                <li class="text">Choisisez le type de média :</li>
                <li><a id="image">Image</a></li>
                <li><a id="video">Vidéo</a></li>
                <li><a id="embed">Embed</a></li>
            </ul>
            <div class="stop"></div>
            <div class="register">
                <fieldset id="content_media" style="display: none">
                    <legend>Image</legend>
                    <div class="input-main">
                        <div class="input-block">
                            <div class="field">
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>
    {% endif %}
    </div>
<script type="text/javascript">
    $( "#video" ).click(function() {
        $( "#content_media").show().html('<legend>Video</legend><div class="input-main"><div class="input-block"><div class="field"><input type="file"></div></div></div>');
        $(".tabs_media .on" ).removeClass('on');
        $(this).addClass('on');

    });
    $( "#image" ).click(function() {
        $( "#content_media").show().html('<legend>Image</legend><div class="input-main"><div class="input-block"><div class="field"><input type="file"></div></div></div>');
        $(".tabs_media .on" ).removeClass('on');
        $(this).addClass('on') ;

    });
    $( "#embed" ).click(function() {
        $( "#content_media").show().html('<legend>Embed</legend><div class="input-main"><div class="input-block"><div class="field"> <textarea ></textarea></div></div></div>');
        $(".tabs_media .on" ).removeClass('on');
        $(this).addClass('on');

    });
</script>
