
<div class="input-main">
    {{ form_row(form.QuestionnaireElement.name)}}
    {# form_row(form.QuestionnaireElement.text_description)#}
    {################ text decription ################}
        <div class="form_row">
            <div class="input-main grey">
                <div class="input-block">
                    {{ form_label(form.QuestionnaireElement.text_description) }}  
                    {% set descrId = form.QuestionnaireElement.text_description.vars.id|replace({'QuestionnaireElement_':''}) %}
                    {% set idForRadioDescr = descrId~'_checkbox' %}
                    <input class="left" style="margin-left: 18px;" type="checkbox" {{form.QuestionnaireElement.text_description.vars.value?'checked="checked"':''}} id="{{idForRadioDescr}}" /> 
                    {{ form_widget(form.QuestionnaireElement.text_description) }}
                    {{ form_errors(form.QuestionnaireElement.text_description) }}                    
                    <script type="text/javascript">
                        $('#{{idForRadioDescr}}').change(function() {
                            if($(this).is(":checked")) {
                                $('#{{descrId}}_parent').show();   $('#{{descrId}}').removeAttr('disabled');
                            }else{
                                $('#{{descrId}}_parent').hide();   $('#{{descrId}}').attr('disabled', 'disabled');
                            }
                        });
                        $('#{{descrId}}_ifr').load(function(){
                            $('#{{idForRadioDescr}}').trigger('change');
                        });
                    </script> 
                </div>
            </div>
        </div>
    {################ Text decription ################}    
    <div class="choice_qcm">
        <p>{{ form_row(form.choice_type)}}</p>
    </div>
    <div class="stop"></div>
    <div style="color:red;" id="choice_name_error" style="display:none;"></div>
{#
        {% if (app.request.get('Question')['choice_name'] is not defined)  and (extraParams.choiceType is not defined) %}
            <div class="form_row">
                {{ form_row(form.choice_name) }}
            </div>
            {{ form_widget(form.good_response,{'attr':{'style': app.request.get('Question')['choice_type'] is defined and app.request.get('Question')['choice_type']==3 ? 'display:block;' :'display:none;width:15px;float:left;' } })}}
            <div class="stop"></div>
        {% else %}
            <div class="input-main grey">
                <div class="input-block"><label for="Question_choice_name">Choice Name</label>
                </div>
            </div>
        {% endif %}
  #}

        {% if app.request.get('Question')['choice_type'] is defined and app.request.get('Question')['choice_type']==3 %}

        {% endif %}
    <table class="edit_table">
        <thead>
            <tr>
                <th class="choice"></th>
                <th class=" input_edit">Choix</th>
                <th class="GR" style="display:{% if app.request.get('Question')['choice_type'] is defined and app.request.get('Question')['choice_type'] == 3 %}{% elseif extraParams.choice_type is defined and extraParams.choice_type ==3 %}{% else %}none{% endif %};">Bonne réponse</th>
                <th class="GRU" style="display:{% if app.request.get('Question')['choice_type'] is defined and app.request.get('Question')['choice_type'] == 4 %}{% elseif extraParams.choice_type is defined and extraParams.choice_type ==4 %}{% else %}none{% endif %};">Bonne réponse</th>
                <th class="ranking_edit" style="display:{% if app.request.get('Question')['choice_type'] is defined and (app.request.get('Question')['choice_type'] == 3 or app.request.get('Question')['choice_type'] == 4) %}none{% elseif extraParams.choice_type is defined and (extraParams.choice_type ==3 or extraParams.choice_type ==4) %}none{% endif %};">Valeur</th>
                <th class="supp_edit"></th>
            </tr>
        </thead>                    
        <tbody id="new_choices">
                    {% if (app.request.get('Question')['choice_name'] is not defined)  and (extraParams.choiceType is not defined) %}
            <tr>
                <td class="choice ">
                    <input type="radio" name="radio" disabled="disabled" />
                </td>
                <td class=" input_edit "> 
                    <div class="input-main">
                        <div class="field"> 
                                        {{ form_widget(form.choice_name) }}
                        </div>
                    </div>
                </td>
                <td class="GR" style="display:{{ app.request.get('Question')['choice_type'] is defined and app.request.get('Question')['choice_type']==3?'':'none' }};">
                    <input type="checkbox" id="Question_good_response_0" name="Question[good_response][0]" value="1" style="display: none;" disabled="disabled">
                </td>
                <td class="GRU" style="display:{{ app.request.get('Question')['choice_type'] is defined  and app.request.get('Question')['choice_type'] == 4?'':'none' }}">
                    <input class="Question_good_response_unique" id="Question_good_response_unique_0" type="radio"
                           value="0"
                           name="Question[good_response_unique][]" />  
                </td>
                <td  class="ranking_edit " >
                    <div class="input-main">
                        <div class="field">
                            <select name="Question[ranking][]" id="ranking_0">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td class="supp_edit"> </td>
            </tr>
                    {% endif %}

                    {# begining part of listing of extra added choices after submission of form#}
                    {% if (app.request.get('Question')['choice_name'] is defined  and app.request.get('Question')['choice_name'] | length > 0) %}
                        {% for key , choix in app.request.get('Question')['choice_name'] %}
            <tr id="row_{{ loop.index }}">
                <td class="choice ">
                                    {% if app.request.get('Question')['choice_type'] == 1 or app.request.get('Question')['choice_type'] == 4 %}
                    <input type="radio" name="radio" disabled="disabled" />
                                    {% else %}
                    <input type="checkbox" name="choice" disabled="disabled" />
                                    {% endif %}
                </td>
                <td class=" input_edit ">                                    
                    <div class="input-main">
                        <div class="field"> 
                            <input type="text" class="left" maxlength="255" name="Question[choice_name][{{ key }}]"
                                   id="Question_choice_name_{{ key }}" value="{{ choix }}">
                        </div>
                    </div>
                </td>
                <td class="GR" style="display:{{ app.request.get('Question')['choice_type'] is defined  and app.request.get('Question')['choice_type'] == 3?'':'none' }}">
                    <input class="Question_good_response" id="Question_good_response_{{ key }}" type="checkbox"
                           value="1"
                           name="Question[good_response][{{ key }}]" 
                                            {{( app.request.get('Question')['good_response'][key] is defined ) ? "checked='checked'" :''}}>     

                </td>
                <td class="GRU" style="display:{{ app.request.get('Question')['choice_type'] is defined  and app.request.get('Question')['choice_type'] == 4?'':'none' }}">
                    <input class="Question_good_response_unique" id="Question_good_response_unique_{{ key }}" type="radio"
                           value="{{ key }}"
                           name="Question[good_response_unique][]" 
                                            {{( app.request.get('Question')['good_response_unique'] is defined and key in app.request.get('Question')['good_response_unique'] ) ? "checked='checked'" :''}}>     

                </td>
                <td  class="ranking_edit " style="display:{{ app.request.get('Question')['choice_type'] is defined  and (app.request.get('Question')['choice_type'] == 3 or app.request.get('Question')['choice_type'] == 4)?'none':''}}">
                    <div class="input-main">
                        <div class="field">
                            <select id="ranking_{{ key }}" name="Question[ranking][{{ key }}]" {{ app.request.get('Question')['choice_type'] is defined  and (app.request.get('Question')['choice_type'] == 3 or app.request.get('Question')['choice_type'] == 4)?' disabled="disabled"':''}}>
                                <option value="" {{ app.request.get('Question')['ranking'] is defined and app.request.get('Question')['ranking'][key] is null?'selected="selected"':'' }}></option>
                                <option value="0" {{ app.request.get('Question')['ranking'] is defined and app.request.get('Question')['ranking'][key] == 0 and app.request.get('Question')['ranking'][key] is not null?'selected="selected"':'' }}>0</option>
                                <option value="1" {{ app.request.get('Question')['ranking'] is defined and app.request.get('Question')['ranking'][key] == 1?'selected="selected"':'' }}>1</option>
                                <option value="2" {{ app.request.get('Question')['ranking'] is defined and app.request.get('Question')['ranking'][key] == 2?'selected="selected"':'' }}>2</option>
                                <option value="3" {{ app.request.get('Question')['ranking'] is defined and app.request.get('Question')['ranking'][key] == 3?'selected="selected"':'' }}>3</option>
                                <option value="4" {{ app.request.get('Question')['ranking'] is defined and app.request.get('Question')['ranking'][key] == 4?'selected="selected"':'' }}>4</option>
                                <option value="5" {{ app.request.get('Question')['ranking'] is defined and app.request.get('Question')['ranking'][key] == 5?'selected="selected"':'' }}>5</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td class="supp_edit">
                                    {% if loop.index >1 %}
                    <a href="javascript:void(0);" onclick="remove_choices(this);">X</a>
                                    {% endif %}
                </td>
            </tr>
                        {% endfor%}
                    {% elseif extraParams.choiceType is defined and extraParams.choiceType | length > 0 %}
                        {% for choix in extraParams.choiceType %}
            <tr id="row_{{ loop.index }}">
                <td class="choice ">
                                    {% if choix.question.options['ChoiceType'] == 1 or choix.question.options['ChoiceType'] == 4 %}
                    <input type="radio" name="radio" disabled="disabled" />
                                    {% else %}
                    <input type="checkbox" name="choice" disabled="disabled" />
                                    {% endif %}
                </td>
                <td class=" input_edit "> 
                    <div class="input-main">
                        <div class="field"> 
                            <input type="text" class="left" maxlength="255" name="Question[choice_name][{{ choix.id }}]"
                                   id="Question_choice_name_{{ choix.id }}" value="{{ choix.name }}">
                        </div>
                    </div>
                </td>
                <td class="GR" style="display:{{ extraParams.question.options['ChoiceType'] is defined  and extraParams.question.options['ChoiceType'] == 3?'table-cell':'none' }}">
                    <input class="Question_good_response" id="Question_good_response_{{ choix.id }}" type="checkbox"
                           value="1"
                           name="Question[good_response][{{ choix.id }}]" {{( choix.goodResponse == 1 ) ? "checked='checked'" :''}}>
                </td>
                <td class="GRU" style="display:{{ extraParams.question.options['ChoiceType'] is defined  and extraParams.question.options['ChoiceType'] == 4?'table-cell':'none' }}">
                    <input class="Question_good_response_unique" id="Question_good_response_unique_{{ choix.id }}" type="radio"
                           value="{{ choix.id }}"
                           name="Question[good_response_unique][]" 
                                            {{( choix.goodResponse == 1 ) ? "checked='checked'" :''}}>
                </td>
                <td  class="ranking_edit " style="display:{{ extraParams.question.options['ChoiceType'] is defined  and  (extraParams.question.options['ChoiceType'] == 3 or extraParams.question.options['ChoiceType'] == 4)?'none':'' }}">
                    <div class="input-main">
                        <div class="field">
                            <select id="ranking_{{ choix.id }}" name="Question[ranking][{{ choix.id }}]" {{ choix.question.options['ChoiceType'] is defined  and (choix.question.options['ChoiceType'] == 3 or choix.question.options['ChoiceType'] == 4)?' disabled="disabled"':''}}>
                                <option value="" {% if choix.ranking is null %}selected="selected"{% endif %}></option>
                                <option value="0" {{ choix.ranking == 0 and choix.ranking is not null?'selected="selected"':'' }}>0</option>
                                <option value="1" {{ choix.ranking == 1?'selected="selected"':'' }}>1</option>
                                <option value="2" {{ choix.ranking == 2?'selected="selected"':'' }}>2</option>
                                <option value="3" {{ choix.ranking == 3?'selected="selected"':'' }}>3</option>
                                <option value="4" {{ choix.ranking == 4?'selected="selected"':'' }}>4</option>
                                <option value="5" {{ choix.ranking == 5?'selected="selected"':'' }}>5</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td class="supp_edit">
                                    {% if loop.index >1 %}
                    <a href="javascript:void(0);" onclick="remove_choices(this);">X</a>
                                    {% endif %}
                </td>
            </tr>
                        {% endfor%}                        
                    {% endif %}
                    {# ending part of listing of extra added choices after submission of form#}
        </tbody>
        <tfoot>
            <tr class="field multi_total" style="display:{{ extraParams.question.options['ChoiceType'] is defined and extraParams.question.options['ChoiceType']==2?'table-cell':'none'}};">
                <td class="input_edit ">
                    <div class="input-main">
                        <div class="field right select_total">

                           <span class="bold"> Total :</span><select style="width:86px;margin-left:10px; " name="Question[total_ranking]" id="Question_total_ranking"{{ extraParams.question.options['ChoiceType'] is defined and extraParams.question.options['ChoiceType'] ==2?'':'disabled="disabled"' }}>
                            <div class="stop"></div>
                                <option value=""></option>
                            </select>
                            <input type="hidden" value="{% if app.request.get('Question')['total_ranking'] is defined  and app.request.get('Question')['total_ranking'] %}{{app.request.get('Question')['total_ranking']}}{% elseif extraParams.question.options['total_ranking'] is defined and extraParams.question.options['total_ranking'] %}{{ extraParams.question.options['total_ranking'] }}{% endif %}" id="hidd_total_ranking" />
                        </div>
                    </div>
                </td>
                <td colspan="3"> &nbsp;</td>
            </tr>
        </tfoot>
    </table>
    <span class="left choice">
        <a id="add_s_choice" class="button" style="float: right" onclick="add_choice(this);" href="javascript:;">Ajouter un choix</a>
    </span>
    <input type="hidden" name="countChoices" id="countChoices" value="{{extraParams.countChoices ? extraParams.countChoices : 1}}">
</div>
<div class="input-main">
            {% include 'VMQuestionnaireBundle:Form:Element/Question/_media_type.html.twig' %}
</div>
<div class="input-main">
            {% include 'VMQuestionnaireBundle:Form:Element/Question/question_option_form.html.twig' %}
</div>

<div class="text_center button_save">
        {{ form_widget(form.save ,{'attr':{'onclick':'return check_data();'}}) }}

    <div style="height:10px;">&nbsp;</div>
</div>
</div>
<script>
    //This section is for click event of question choix type
    $(document).ready(function() {
        $('#Question_choice_name').attr('name', 'Question[choice_name][0]');
        $('#Question_good_response_0').attr('name', 'Question[good_response][0]');

        $('#Question_choice_type input[type="radio"]').each(function() {
            $(this).click(function() {
                //If qcm choix type then display checkbox of good response
                $('.multi_total').hide();
                if ($(this).val() == 3 || $(this).val() == 4) {

                    $('.ranking_edit select').removeAttr('onchange');
                    $('td.ranking_edit select').hide();
                    $('td.ranking_edit select').attr('disabled', 'disabled');
                    $('.ranking_edit').hide();

                    //if good response input exists
                    if ($('[id^="Question_good_response"]').length > 0) {
                        if ($(this).val() == 3) {
                            $('.GRU input').attr('disabled', 'disabled');
                            $('.GRU').hide();
                            $('.GR').show();
                            $('.GR input')
                                    .removeAttr('disabled')
                                    .show();
                        } else {
                            $('.GR').hide();
                            $('.GR input').attr('disabled', 'disabled');
                            $('.GRU').show();
                            $('.GRU input').removeAttr('disabled')
                             .show();
                        }
                    } else {
                        var text = '<tr id="row_' + ($('#new_choices').length + 1) + '"><td class="choice "></td><td class=" input_edit "><div class="input-main"><div class="field"><input id="Question_choice_name_0" maxlength="255"  class="left" type="text" name="Question[choice_name][0]"></div></div></td><td class="GRU" style="display:none"> <input class="Question_good_response_unique" id="Question_good_response_unique_0" type="checkbox" value="1" name="Question[good_response_unique][]"></td><td  class="ranking_edit " ><div class="input-main"><div class="field"><select id="ranking_0" name="Question[ranking][]"><option value=""></option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></div> </div></td><td class="supp_edit"><a href="javascript:void(0);" onclick="remove_choices(this);">X</a></td></tr>';
                        $('#new_choices').append(text);
                    }
                } else {
                    if ($(this).val() == 2) {
                        multi_choice_total();
                    } else {
                        $('.ranking_edit select').removeAttr('onchange');
                    }
                    $('.GR').hide();
                    $('.GRU').hide();
                    $('.ranking_edit').show();
                    $('.ranking_edit select').removeAttr('disabled');
                    $('.ranking_edit select').show();

                    $('.GR input').attr('disabled', 'disabled');
                    $('.GRU input').attr('disabled', 'disabled');
                    //If not qcm choix type then display checkbox of good response


                    //if no choice name input exists
                    if ($('input[id^="Question_choice_name"]').length == 0) {
                        var text = '<tr id="row_' + ($('#new_choices').length + 1) + '"><td class="choice "></td><td class=" input_edit "><div class="input-main"><div class="field"><input id="Question_choice_name_0" maxlength="255"  class="left" type="text" name="Question[choice_name][0]"></div></div></td><td class="GR " style="display:none"> </td><td  class="ranking_edit " ><div class="input-main"><div class="field"><select id="ranking_0" name="Question[ranking][]"><option value=""></option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></div></div></td><td class="supp_edit"><a href="javascript:void(0);" onclick="remove_choices(this);">X</a></td></tr>';
                        $('#new_choices').append(text);

                    }
                }
                var checkd = $(this).is(':checked') ? $(this).val() : '';
                $('tbody#new_choices tr').each(function() {
                    if (checkd == 1 || checkd == 4) {
                        $(this).find('td.choice').html('<input type="radio" name="radio" disabled="disabled" />');
                    }
                    else {
                        $(this).find('td.choice').html('<input type="checkbox" name="choice" disabled="disabled" />');
                    }
                    if (checkd == 3) {
                        $(this).find('td.GR').show();
                    }
                    if (checkd == 4) {
                        $(this).find('td.GRU').show();
                    }
                });
            });
        });


        var arrayMax = Function.prototype.apply.bind(Math.max, null);
        var arrayMin = Function.prototype.apply.bind(Math.min, null);
    });

    function multi_choice_total() {
        $('.ranking_edit select').each(function() {
            $(this).attr('onchange', 'return total_range();');
            total_range();
        });

    }
    {% if (app.request.get('Question')['choice_type'] is defined and app.request.get('Question')['choice_type'] ==2) or (extraParams.question.options['ChoiceType'] is defined  and extraParams.question.options['ChoiceType']==2) %}
    multi_choice_total();
    {% endif %}
    function total_range() {
        var select = 0, i = 0, jh = 0, opt = '', max = 0, min = 0;
        $('.ranking_edit select').each(function() {
            if ($(this).val()) {
                if (i++ == 0) {
                    min = parseInt($(this).val());
                } else {
                    if (min < parseInt($(this).val())) {
                        min = parseInt($(this).val());
                    }
                }
                max += parseInt($(this).val());
            }
        });

        opt += '<option value=""></option>';
        if (max) {
            for (i = min; i <= max; i++) {
                opt += '<option value="' + i + '">' + i + '</option>';
            }
            if (max < 5) {
                opt += '<option value="5">5</option>';
            }
            $('.multi_total').show();
            $('.multi_total select').removeAttr('disabled');
        } else {
            $('.multi_total').hide()
                    .find('select').attr('disabled', 'disabled');
        }
        $('#Question_total_ranking').html(opt);
        if ($('#hidd_total_ranking').val()) {
            $('#Question_total_ranking').find('option[value="' + ($('#hidd_total_ranking').val()) + '"]').attr('selected', true);
        } else {
            $('#Question_total_ranking').find('option[value="5"]').attr('selected', true);
        }
        return true;
    }

    //for checking choice name value
    function check_data() {

        var flag = 1;
        var flagnew = 0, flagrad = 0;

        /*$('[id^="Question_choice_name"]').each(function() {
         if ($(this).val() != '') {
         flag = 1;
         }
         });*/

        if (flag == 0) {
            $("#choice_name_error").css('display', 'block');
            $("#choice_name_error").html('Atleast one choice is required');
            return false;
        } else {
            $("#choice_name_error").html('');
            $("#choice_name_error").css('display', 'none');


            //checking atleast one checkbox should be checked for good response
            if ((($('[id^="Question_good_response"]').length > 0) && ($('input[name="Question[choice_type]"]:checked').val() == 3 || $('input[name="Question[choice_type]"]:checked').val() == 4))) {

                $('[id^="Question_good_response"]').each(function() {
                    if ($(this).is(':checked')) {
                        var response_id = $(this).attr('id').split('Question_good_response_');

                        //condition for checking if checkbox selected these should be corresponding choice name
                        if (response_id[1] == 0) {
                            if ($('#Question_choice_name').val() != '') {
                                flagnew = 1;
                            }
                        } else {
                            if ($('#Question_choice_name_' + response_id[1]).val() != '') {
                                flagnew = 1;
                            }
                        }
                    }
                });

                //if not checked atleast one checkbox
                if (flagnew == 0) {
                    $("#choice_name_error").css('display', 'block');
                    $("#choice_name_error").html('Atleast one corresponding checkbox/radio is required');
                    return false;
                } else {
                    $("#choice_name_error").html('');
                    $("#choice_name_error").css('display', 'none');
                    return true;
                }

            }

        }

    }

    //Adding choices
    function add_choice() {
        //Section for Qcm type question
        var choice_number = $('#countChoices').val(), chiceVal, grStatus = 'none', chice = '', newChoiceSize = $('#new_choices tr').length;
        newChoiceSize++;

        $('#Question_choice_type input[type="radio"]').each(function() {
            if ($(this).is(':checked')) {
                chiceVal = $(this).val();
            }
        });
        if (chiceVal == 1 || chiceVal == 4) {
            chice = '<input type="radio" name="radio" disabled="disabled" />';
        }
        else {
            chice = '<input type="checkbox" name="choice" disabled="disabled" />';
        }

        if (chiceVal == 3) {
            grStatus = 'table-cell';
        }
        
        var text = '<tr id="row_' + newChoiceSize + '"><td class="choice ">' + chice + '</td><td class=" input_edit "><div class="input-main"><div class="field"><input id="Question_choice_name_' + choice_number + '" maxlength="255"  class="left" type="text" name="Question[choice_name][' + choice_number + ']"></div></div></td><td class="GR" style="display:' + grStatus + '"><input class="Question_good_response" id="Question_good_response_' + choice_number + '" type="checkbox" value="1" name="Question[good_response][' + choice_number + ']"></td><td class="GRU" style="display:' + (chiceVal != 4 ? 'none' : 'table-cell') + '"><input class="Question_good_response_unique" id="Question_good_response_unique_' + choice_number + '" type="radio" value="' + choice_number + '" name="Question[good_response_unique][]"></td><td  class="ranking_edit " '+((chiceVal == 3 || chiceVal == 4) ? ('style="display:none;"') : '')+'  ><div class="input-main"><div class="field"><select name="Question[ranking][' + choice_number + ']" id="ranking_' + choice_number + '"><option value=""></option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></div></div></td><td class="supp_edit"><a href="javascript:void(0);" onclick="remove_choices(this);">X</a></td></tr>';
        $('#new_choices').append(text);
        
        if (chiceVal == 2) {
            multi_choice_total();
        }
        choice_number++;

        $('#countChoices').val(choice_number);

    }

    //Removing choices
    function remove_choices(obj) {
        if ($('#new_choices tr').length > 1) {
            if (confirm('Are you sure want to delete')) {
                $(obj).parents('tbody#new_choices tr').remove();
                multi_choice_total();
            }
            $('tbody#new_choices tr').each(function(index, obj) {
                index++;
                $(this).attr('id', 'row_' + index);
            });
        } else {
            alert('you should have at least one option.');
        }
        return false;
    }
</script>

<script src="{{ asset('bundles/vmgeneral/js/media_type.js') }}"></script>
