<div style="clear:both;" class="form_row">
    <div class="register">
        <fieldset>
            <LEGEND>Options</LEGEND>
            <table class="_100">
                {% if form.QuestionOption.rankin is defined %}
                    <tr class="options_questionnaire">
                        <td ><p class="text">Pondération de la question</p></td>
                        <td style="width: 200px" >
                            <div class="input-main ">
                                <div class="field special">
                                    {{form_widget(form.QuestionOption.rankin)}}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% if form.QuestionOption.needed is defined %}
                    <tr class="options_questionnaire">
                        <td ><p class="text">La question est elle obligatoire?</p> </td>
                        <td style="width: 200px" >
                            <div class="right form_right">
                                {{ form_widget(form.QuestionOption.needed)}}
                                {# for child in form.QuestionOption.needed %}
                                    <label for="{{child.vars.id}}">{{child.vars.label}}<input type="radio" id="{{child.vars.id}}" name="{{form.QuestionOption.needed.vars.full_name}}" {% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}{% if child.vars.checked %} checked="checked"{% endif %} /></label>
                                {% endfor #}
                            </div>
                        </td>

                    </tr>
                {% endif %}
                {% if form.QuestionOption.eliminate_question is defined %}
                    <tr class="options_questionnaire">
                        <td ><p class="text">La question est-elle éliminatoire?</p></td>
                        <td style="width: 200px">
                            <div class="right form_right">
                                {{ form_widget(form.QuestionOption.eliminate_question)}}
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% if form.QuestionOption.anti_plagiat is defined %}
                    <tr class="options_questionnaire">
                        <td ><p class="text">Voulez vous un contrôle contre le plagiat ?</p></td>
                        <td style="width: 200px">
                            <div class="right form_right">
                                {{ form_widget(form.QuestionOption.anti_plagiat)}}
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% if form.QuestionnaireElement.time_limit is defined and form.QuestionOption.no_time_limit is not defined and extraParams.level_0 is defined and extraParams.level_0 == 1 %}

                    {% set timeLimit = ((app.request.get('Question')['QuestionnaireElement']['time_limit'] is defined )? (app.request.get('Question')['QuestionnaireElement']['time_limit']) : (extraParams.timeLimit is defined ?extraParams.timeLimit :'' ))%}
                    <tr class="options_questionnaire">
                        <td ><p class="text">Ajouter une limite de temps</p></td>
                        <td style="width: 200px">
                            <div class="input-main ">
                                <div class="field ">
                                    <span class="right">sec</span>
                                    <input class="right _50_imp" type="number" id="{{form.QuestionnaireElement.time_limit.vars.id}}" name="{{form.QuestionnaireElement.time_limit.vars.full_name}}" {{(timeLimit)?'value='~timeLimit:'disabled'}} />
                                    {% set idForRadioTimeLimit = form.QuestionnaireElement.time_limit.vars.id~'_checkbox' %}
                                    <script type="text/javascript">
                                        $('#{{idForRadioTimeLimit}}').change(function() {
                                            if($(this).is(":checked")) {
                                                $('#{{form.QuestionnaireElement.time_limit.vars.id}}').prop('disabled', false);
                                            }else{
                                                $('#{{form.QuestionnaireElement.time_limit.vars.id}}').prop('disabled', true);
                                            }
                                        });
                                    </script>
                                    <input class="right" type="checkbox" {{timeLimit?'checked="checked"':''}} id="{{idForRadioTimeLimit}}" />
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% if form.QuestionOption.char_limit is defined %}
                    <tr class="options_questionnaire">
                        <td ><p class="text">Limite de caractères</p></td>
                        <td style="width: 200px">
                            <div class="input-main ">
                                <div class="field ">
                                    {% set idForRadioCharLimit = form.QuestionOption.char_limit.vars.id~'_checkbox' %}
                                    <input class="left" style="margin-left: 18px;" type="checkbox" {{form.QuestionOption.char_limit.vars.value?'checked="checked"':''}} id="{{idForRadioCharLimit}}" />
                                    <input class="left _50_imp" type="number" id="{{form.QuestionOption.char_limit.vars.id}}" name="{{form.QuestionOption.char_limit.vars.full_name}}" {{(form.QuestionOption.char_limit.vars.value)?'value='~form.QuestionOption.char_limit.vars.value:'disabled'}} />
                                    <script type="text/javascript">
                                        $('#{{idForRadioCharLimit}}').change(function() {
                                            if($(this).is(":checked")) {
                                                $('#{{form.QuestionOption.char_limit.vars.id}}').prop('disabled', false);
                                            }else{
                                                $('#{{form.QuestionOption.char_limit.vars.id}}').prop('disabled', true);
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </fieldset>
    </div>
</div>
