<div class="input-main">
    <div class="input-block">
    
            {{ form_row(form.QuestionnaireElement.name) }}
           
            {% include 'VMQuestionnaireBundle:Form:Element/Question/_media_type.html.twig' %}

            {{ form_row(form.QuestionOption.question_time) }}
            {{ form_row(form.QuestionOption.response_time) }}
            {% include 'VMQuestionnaireBundle:Form:Element/Question/question_option_form.html.twig' %}
            
            <div class="text_center button_save">
              {{ form_widget(form.save ) }}
               <div style="height:10px;">&nbsp;</div>
            </div> 
     </div> 
</div>

<script src="{{ asset('bundles/vmgeneral/js/media_type.js') }}"></script>
