{% extends 'PokerGeneralBundle:Back:layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block content %}
<div class="block-main">
<div class="grid_8">
    <div class="block-border">
        <div class="block_design">
            <div class="block_header"><h1>{{ typeQuestionnaire.name }}</h1></div>
            <div class="block_content no_padding">
                <table class="table_backend">
                    <tbody>
                        <tr>
                            <td style="text-align:left; font-weight:bold;">Nom</td>
                            <td class="center">{{ typeQuestionnaire.name }}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left; font-weight:bold;">Help</td>
                            <td class="center">
                                {{ element.Help is defined ?element.Help.id:'' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="grid_4">
    <div class="block-border">
        <div class="block_design sidebar">
            <div class="block_header"><h2>Actions</h2></div>
            <div class="block_content no_padding">
                <ul class="list no_margin">                    
                    <li><a href="{{ path('bo_type_questionnaire_edit',{'id':typeQuestionnaire.id}) }}">Edit</a></li>
                    <li><a href="{{ path('bo_type_questionnaire_delete',{'id':typeQuestionnaire.id}) }}" onclick="return confirm('Are you sure?');">Supprimer</a></li>                    
                    <li><a href="{{ path('bo_type_questionnaires') }}">All type questionnaire</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}