{% extends 'VMGeneralBundle:Middle:layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Vos sessions d'enregistrement</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Sessions d'enregistrement
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Explication</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if recordingSessions|length > 0 %}
                                {% for record in recordingSessions %}
                                    <tr class="odd gradeX">
                                        <td><a href="{{ path('fo_recording_session_show', {'slug_sess': record.slug }) }}">{{ record.name }}</a></td>
                                        <td>{{ record.textIntroduction }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    
                </div>
                <!-- /.table-responsive -->
                <div class="well">
                    <a class="btn btn-default btn-lg btn-block"  href="{{ path('mo_recording_session_new') }}">Ajouter une session d'enregistrement</a>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}
