{% extends 'VMGeneralBundle:Middle:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <script src="{{ asset('bundles/vmgeneral/js/video.js') }}"></script>
    <script>
        videojs.options.flash.swf = "{{ asset('bundles/vmgeneral/js/video-js.swf') }}";
    </script>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Enregistrements pour {{ recordingSession.name }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Vos enregistrements par utilisateur pour {{ recordingSession.name }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>E-mail</th>
                                    <th>Video</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Modal -->
                            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" onClick="closeVideo()" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel"></h3>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" onClick="closeVideo()" aria-hidden="true">Close</button>
                                </div>
                            </div>
                            {% if recordingSession.RecordingSessionUser %}
                                {% for user in recordingSession.RecordingSessionUser %}
                                    <tr class="odd gradeX" id="session_user_{{ user.id }}">
                                        <td><a href="#">{{ user.email }}</a></td>
                                        <td>
                                    <center>
                                        {% set i = 1 %}
                                        {% for filename in user.filename %}
                                            {% set movie_code = filename|split('_') %}
                                            {% set movie_code = movie_code[1] %}
                                            {% set movie_code = movie_code|split('.') %}
                                            {% set movie_code = movie_code[0] %}
                                            <span>
                                                Video {{ i }} <button type="button" onClick="loadVideo('{{ filename }}')" class="btn btn-outline btn-primary btn-xs">Voir</button> <a type="button" href="{{ path('mo_recording_session_download', {'slug_sess': app.request.get('slug_sess'), 'movie_code': movie_code }) }}" target="_blank" class="btn btn-outline btn-success btn-xs">Télécharger</a>
                                            </span>
                                            <hr />
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                    </center>
                                    </td>
                                    <td>
                                    <center>
                                        <a href="javascript:void(0)" onClick="delSessionUser('{{ user.id }}')" title="supprimer" alt="supprimer"><img src="{{ asset('bundles/vmgeneral/images/supprimer.png') }}" title="supprimer" alt="supprimer"></a>
                                    </center>
                                    </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>       
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <script>
        
        function closeVideo(){
            $('#myModal .modal-body').html('');
        }
        
        function loadVideo(filename) {
            $('#myModalLabel').html('<center>' + filename + '</center>');
            $('#myModal .modal-body').html('<center><video data-setup=\'{"techOrder": ["html5", "flash", "other supported tech"]}\' preload="auto" id="' + filename + '" class="video-js vjs-default-skin" controls\
                                                  preload="none" width="360" height="240" poster="" data-setup="{}">\
                                                  <source id="my_src" src="/uploads/streams/' + filename + '.flv" type="video/flv" /></video></center>')
            videojs(filename, {}, function() {
                vidPlayer = this;
                vidPlayer.play();
            });
            $('#myModal').modal();
        }
        function delSessionUser(id) {
            if (confirm("Voulez-vous vraiment supprimer cette utilisateur ?")) { // Clic sur OK
                var url = "{{ path('mo_recording_session_user_delete', {'slug_sess': app.request.get('slug_sess')}) }}";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {id: id}
                }).done(function(msg) {
                    $('#session_user_' + id).remove();
                });
            }
        }
    </script>
{% endblock %}
