{% extends 'VMGeneralBundle:Middle:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header edit" data-type="name">{{ recordingSession.name }}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">  
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Introduction
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body edit" data-type="introduction">
                        {{ recordingSession.textIntroduction }}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Les mots à utiliser
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {% for word in recordingSession.recordingSessionKeywordList %}
                            <button type="button" class="btn btn-outline btn-primary btn-xs">{{ word.name }}</button>  
                        {% endfor %}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Enregistrement vidéo</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {% if app.request.attributes.get('_route') == 'mo_recording_session_show' %}
                                        Comment ca marche admin
                                    {% else %}
                                        Comment ca marche user
                                    {% endif %}
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body edit" data-type="presentation">
                                    {{ recordingSession.textPresentation }}
                                </div>
                            </div>
                        </div>
                        <form action="{{ path('mo_recording_session_show', {'slug_sess' : app.request.get('slug_sess')}) }}" method="post" name="session_user">
                            <!-- /.col-lg-6 -->
                            {% include 'VMRecordingSessionBundle:Default:webcam.html.twig' %}
                            <center>
                                <input type="submit" id="submitButton" style="display:none;" type="button" class="btn btn-outline btn-success btn-lg btn-block" value="Validez votre vidéo" />
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
           $('.edit').click(function(){
               var content = $(this).html();
               $(this).html('<textarea>'+content+'</textarea>');
           })
        });
    </script>
    {% if app.request.attributes.get('_route') == 'mo_recording_session_show' %}
    {% endif %}
{% endblock %}
