{{ form_row(form.name) }}
{{ form_row(form.company_name) }}
{{ form_row(form.logo) }}
{% if entity is defined %}
{% set logo = (old_logo is defined and old_logo !=''  ? old_logo : (entity is defined and entity.logo is defined  ? entity.logo :'')) %}

<div class="form_row">
    <div class="label">
    </div>
    <div class="field">
        <img class="left _10 " src="{{ asset(logo) }}">
    </div>
    <div class="stop"></div>
</div>
<input value="{{ logo }}" type='hidden' name='logo_hidden'>
{% endif %}
{{ form_row(form.code_naf) }}
{{ form_row(form.code_siret) }}
{{ form_row(form.phone) }}
{{ form_row(form.fax) }}
{{ form_row(form.url_site) }}
{{ form_row(form.text_introduction) }}
{{ form_row(form.text_presentation) }}

{{ form_row(form._token) }}
<div class="text_center button_save">
    {{ form_widget(form.save ) }}
</div>
